﻿@model List<Data.WebMailModel>

<div data-script="webMessages"></div>

<div class="row">
    <div class="col col-3 messages-list">
        <div class="messages-filters nav nav-tabs">
            <li>
                <a class="nav-link active" href="#messagesList" data-url="/admin/webmessages/list/all">Všechny</a>
            </li>
            <li>
                <a class="nav-link" href="#messagesList" data-url="/admin/webmessages/list/unreaded" >Nepřečtené</a>
            </li>
        </div>
        <div id="messagesList">
           <partial name="WebMessages/List" for="@Model" />
        </div>
    </div>
    <div class="col col-9" id="messageBody">
        @if (Model.Count != 0)
        {
            <partial name="WebMessages/Message" for="@Model[0]" />
        }
    </div>
</div>