﻿@model List<Data.WebMailModel>

@foreach (Data.WebMailModel message in Model)
{
    string color = "";

    if (!message.Readed) color = "c-accent";

    <div class="message @color" data-url="/admin/webmessage/@message.Id">
        <div class="sender">
            <strong>@message.Name</strong><br />
            <span class="email">@message.Email</span>
        </div>
        <div class="created-date">
            @message.Created
        </div>
        <a class="item-delete"><i class="fa fa-times"></i></a>
    </div>
}