﻿@model Data.WebMailModel

<div>
    <div class="btn-group pull-right">
        <button class="btn btn-light btn-squared" type="button" data-modalId="msgReply" data-url="/admin/webmessage/reply/@Model.Id"><i class="fa fa-angle-left"></i> Odpovědět</button>
        <button class="btn btn-light btn-squared" type="button" data-modalId="msgResend" data-url="/admin/webmessage/resend/@Model.Id"><i class="fa fa-angle-right"></i> Přeposlat</button>
    </div>
    <p>
        @Model.Name <span>&#60; @Model.Email &#62;</span>
    </p>
    <p>
        @Model.Phone<br />
    </p>
</div>
<hr />
<div class="message-text">@Html.Raw(Model.Message)</div>