﻿@model MailMessageViewModel

<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">
    <form action="/admin/webmessage/sendmail">
        <div class="form-group mb-3">
            <label>Odesílatel</label>
            <input asp-for="From" readonly="readonly" class="form-control" />
            <span asp-validation-for="From" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label>Příjemce</label>
            <input asp-for="To" class="form-control" />
            <span asp-validation-for="To" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label>Předmět</label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <textarea asp-for="Body" class="summernote">@Model.Body</textarea>
        </div>
        <input type="hidden" asp-for="Message" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" class="btn btn-accent btn-squared" data-action="save">Odeslat</button>
</div>
