﻿@model FormsWebModel

<div class="container">
    <main role="main" class="pb-3">

        @if (!String.IsNullOrEmpty(Model.Title))
        {
            <h2>@Model.Title</h2>
        }

        @if (!String.IsNullOrEmpty(Model.Text))
        {
            <p>@Model.Text</p>
        }

        <form method="post" action="/@Model.ShowAs/@Model.FormType">

            @Html.Raw(Model.FormBody)

            <input type="hidden" name="Data" />

            @if (Model.ShowGDPR)
            {
                <div class="form-group mb-3 col-md">
                    <input asp-for="GDPR" />
                    <a href="/gdpr">Souhlasím se zpracováním osobních údajů.</a>
                </div>
            }

            <button type="submit" class="btn btn-success">Odeslat</button>
        </form>
    </main>
</div>