﻿@model FormsWebModel

<div class="container">
    <main role="main" class="pb-3">

        @if (!String.IsNullOrEmpty(Model.Title))
        {
            <h2>@Model.Title</h2>
        }

        @if (!String.IsNullOrEmpty(Model.Text))
        {
            <p>@Model.Text</p>
        }

    <form method="post" action="/contactform/send/@Model.Id">
        <div class="form-group mb-3 col-md">
            <label>Jméno a příjmení</label>
            <input asp-for="SenderName" class="form-control" />
        </div>

        <div class="form-group mb-3 col-md">
            <label>Telefon</label>
            <input asp-for="SenderPhone" class="form-control" />
        </div>

        <div class="form-group mb-3 col-md">
            <label>E-mail</label>
            <input asp-for="SenderEmail" class="form-control" />
        </div>
        <div class="form-group mb-3 col-md">
            <label>Zpráva</label>
            <textarea asp-for="Message" class="form-control"></textarea>
        </div>
        <div class="form-group mb-3 col-md">
            <input asp-for="CopyToSender" />
            <label>Přeji si zaslat kopii mé zprávy</label>
        </div>

        @{
            if (Model.ShowGDPR)
            {
                <div class="form-group mb-3 col-md">
                    <input asp-for="GDPR" />
                    <a href="/gdpr">Souhlasím se zpracováním osobních údajů.</a>
                </div>
            }
        }

        <button type="submit" class="btn btn-success">Odeslat</button>
    </form>
    </main>
</div>