﻿<div id="input[x]" class="form-group mb-3">
    <input type="text" value="Zobrazovaný text" name="Inputs[x]Text" />
    <input type="checkbox" class="form-control" />
    <input class="js-switch" type="checkbox" name="Inputs[x]Required" /> Toto pole je povinné.
    <input type="hidden" name="Inputs[x]Type" value="checkbox" />
    <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
</div>