﻿@model FilesViewModel

<div data-script="Managers"></div>
<div class="accordion" id="accordion">

    @for (int i = 0; i < Model.Folders.Count; i++)
    {
        <div class="card">
            <div class="card-header" id="heading_@i">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@i" aria-expanded="true" aria-controls="collapse_@i" data-folder=" @Model.Folders[i].Id">
                        @Model.Folders[i].Name
                    </button>
                </h5>
            </div>

            @if (Model.Folders[i].Expanded)
            {
                <div id="collapse_@i" class="collapse show" aria-labelledby="heading_@i" data-parent="#accordion">
                    <div class="card-body">
                        <partial name="List" for="@Model.Files" />
                    </div>
                </div>
            }
            else
            {
                <div id="collapse_@i" class="collapse" aria-labelledby="heading_@i" data-parent="#accordion">

                    <div class="card-body">
                        sem vypsat soubory po requestu z /admin/managers/files/list/{data-folder} Vrátí html výpis souborů
                    </div>
                </div>
            }
        </div>
    }

</div>