﻿@model List<FileModel>

<div data-script="Managers"></div>

@if (Model.Count == 0)
{
<div class="text-danger">slozka neobsahujhe obrazky</div>
}
else
{
    @foreach (FileModel file in Model)
    {
        string url = @Globals.Folders.Files + file.FileName + file.Extension;
        <div>@url</div>
    }
}