﻿@model List<EventItemViewModel>

@if (Model.Count == 0)
{
    <div class="text-center text-danger">Nemáte vytvořeny žádné události.</div>
}
else
{
    <div>
        <table id="groupEventsTable" class="table table-striped table-hover table-responsive-sm data-table">
            <thead>
                <tr>
                    <th> </th>
                    <th>Název </th>
                    <th>Vytvořeno</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    int num = i + 1;

                    <tr>
                        <td>@num</td>
                        <td>
                            <a href="#" data-modalId="eventEdit" data-url="/admin/events/edit/@Model[i].Id"
                                data-alowed="@(User.IsInRole("events_edit"))">@Model[i].Name</a>
                        </td>
                        <td>@Model[i].Created</td>
                        <td>
                            <div class="btn btn-default btn-squared">Publikace</div>
                            <button class="btn btn-default btn-squared" type="button" data-action="deleteEvent"
                                data-url="/admin/events/delete/@Model[i].Id"
                                data-alowed="@(User.IsInRole("events_delete"))">Odstranit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}