﻿@model PageViewModel

@{
    var r = new Random();
    var randomNumber = r.Next();
}

<input type="hidden" asp-for="ParentId" />
<div class="row">
    <div class="col-12 pl-2">
        <div class="form-group mb-3">
            <label asp-for="Name"></label>
            <input id="name_@randomNumber" asp-for="Name" class="form-control name" />
            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mb-3 hard-url" style="display:none">
            <label asp-for="Url"></label>
            <input id="hardurl_@randomNumber" asp-for="Url" class="form-control" />
            <small class="text-muted">Nesmmí obsahovat diakritiku, speciální znaky a mezery. </small>
            <i class="c-accent help-icon pe-7s-info" data-toggle="modal" data-target="#myModal2"></i><br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group mb-3">
        <label asp-for="Title"></label>
        <input id="title_@randomNumber" asp-for="Title" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="col-md-6 form-group mb-3">
        <label asp-for="Keywords"></label>
        <input id="keywords_@randomNumber" asp-for="Keywords" class="form-control" />
        <small class="text-muted">Doporučují se 4 slova oddělené čárkou.</small><br />
        <span asp-validation-for="Keywords" class="text-danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea id="description_@randomNumber" asp-for="Description" class="form-control" rows="5"></textarea>
            <small class="text-muted">Doporučuje se delka popisu 155 znaků.</small><br />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input id="robots_@randomNumber" class="js-switch" asp-for="Robots" /> @Html.DisplayNameFor(model => model.Robots)
            <br /><small class="text-muted"> Povoluje indexačním robotů procházet a indexovat obsah stránky.</small>
        </div>

        <div class="form-group">
            <div class="form-group">
                <label asp-for="ShowInMenu"></label>
                <select id="showinmenu_@randomNumber" asp-for="ShowInMenu" asp-items="@(new SelectList(Model.Layouts,"Id","Name"))" class="select2 form-control select2-hidden-accessible" multiple="" aria-hidden="true" style="width: 100%"></select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input id="hardurlchbx_@randomNumber" class="js-switch hard-url" asp-for="HardUrl" />
            @Html.DisplayNameFor(model => model.HardUrl)
            <br /><small class="text-muted">Zakazuje aktualizovat URL adresu při změně názvu stránky.</small>
        </div>

        <div class="form-group">
            <label asp-for="PopUpId"></label>
            <select id="popup_@randomNumber" asp-for="PopUpId" asp-items="@(new SelectList(Model.PopUps,"Id","Name"))" class="select form-control" style="width: 100%"></select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input id="showname_@randomNumber" class="js-switch" asp-for="ShowName" /> @Html.DisplayNameFor(model => model.ShowName)
            <br /><small class="text-muted">Povoluje zobrazit nadpis na stránce.</small>
        </div>

        <div class="form-group">
            <label asp-for="Priority"></label>
            <div class="sliderContainer">
                <input type="range" min="1" max="10" class="slider" asp-for="Priority" id="priority_@randomNumber" />
                <p class="rangeValue"> @Model.Priority</p>
            </div>
        </div>
    </div>
</div>