﻿@model EventViewModel

@if (Model.ParentId == 0)
{

<div class="row">

    @if (Model.EventsCount == 0)
    {
        <div class="col col-sm-6 col-md-3">
            <div class="form-group">
                <label asp-for="TemplateItems"></label>
                <select asp-for="TemplateItems" asp-items="@(new SelectList(Model.Templates,"Id","Name"))" class="select form-control" style="width: 100%"></select>
            </div>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="TemplateItems" />
    }

    <div class="col col-md-3 col-sm-6">
        <div class="form-group">
            <label asp-for="LayoutId"></label>
            <select asp-for="LayoutId" asp-items="@(new SelectList(Model.Layouts,"Id","Name"))" class="select form-control" style="width: 100%"></select>
        </div>
    </div>
</div>
}

<div class="row">
    <div class="col col-md-9 individual-layout">
        <div class="dd-list">
            @for (int i = 0; i < Model.ContentSections.Count; i++)
            {
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            @if (!Model.ContentSections[i].Required)
                            {
                                <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                                <a class="item-delete"><i class="fa fa-times"></i></a>
                            }
                        </div>
                        @Model.ContentSections[i].Name
                    </div>
                    <div class="panel-body" style="display:none;">
                        <div class="row">
                            <div class="col col-md-6 form-group mb-3">
                                @if (Model.ContentSections[i].Required)
                                {
                                    <input type="text" name="ContentSections[@i].Name" value="@Model.ContentSections[i].Name" />
                                }
                                else
                                {
                                    <label>Název sekce</label>
                                    <input name="ContentSections[@i].Name" value="@Model.ContentSections[i].Name" class="form-control" />
                                    <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                                }
                            </div>
                        </div>
                        <input type="text" name="ContentSections[@i].Id" value="@Model.ContentSections[i].Id" />
                        <input type="text" name="ContentSections[@i].Type" value="@Model.ContentSections[i].Type" />
                        <input type="text" name="ContentSections[@i].Order" value="@Model.ContentSections[i].Order" class="order" />
                        <input type="text" name="ContentSections[@i].IdSekce" value="@Model.ContentSections[i].IdSekce" />
                        <input type="text" name="ContentSections[@i].Locked" value="@Model.ContentSections[i].Locked.ToString()" />
                        <input type="text" name="ContentSections[@i].Required" value="@Model.ContentSections[i].Required.ToString()" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-group col-md-3 avalible-sections-wrap">
        <div class="panel mb-0">
            <div class="panel-body bg-none avalible-sections mb-0 p-0">
                @foreach (Data.Section sectionItem in Globals.AvalibleSections)
                {
                    <div id="pageSection_@sectionItem.Type" data-id="@sectionItem.Type" class="panel panel-filled">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            @sectionItem.Name
                        </div>
                        <div class="panel-body" style="display:none;">
                            @sectionItem.Description
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>