﻿@model List<MenuItemViewModel>

@if (Model.Count == 0)
{
    <div class="text-danger">Menu neobsahuje žádné položky.</div>
}

<form id="editMenuForm" class="dd" action="/admin/pages/settings/menu/edit">
    <ul class="dd-list dd-list--main vh-64">
        @for (int i = 0; i < Model.Count; i++)
        {
        <div class="dd-item">
            <li data-id="@Model[i].Id">
                <a class="item-delete"><i class="fa fa-times"></i></a>
                <div class="dd-handle">
                    <span>@Model[i].Name</span>
                    <input asp-for="@Model[i].CustomText" class="js-switch" />
                    <input asp-for="@Model[i].Name" />
                </div>
                <input type="hidden" asp-for="@Model[i].Id">
                <input type="hidden" asp-for="@Model[i].Order" class="order">
                <input type="hidden" asp-for="@Model[i].Parent" class="parent">
                <input type="hidden" asp-for="@Model[i].Page" class="page">
            </li>
            <partial name="SubItems" for="@Model[i].SubItems" />
        </div>
        }
    </ul>
</form>
