﻿@model List<MenuItemViewModel>

<ol class="dd-list">
    @for (int i = 0; i < Model.Count; i++)
    {
    <div class="dd-item">
        <li data-id="@Model[i].Id">
            <a class="item-delete"><i class="fa fa-times"></i></a>
            <div class="dd-handle">
                <span>@Model[i].Name</span>
            </div>
            <input type="hidden" asp-for="@Model[i].Id">
            <input type="hidden" asp-for="@Model[i].Order" class="order">
            <input type="hidden" asp-for="@Model[i].Parent" class="parent">
            <input type="hidden" asp-for="@Model[i].Page" class="page">
        </li>
        <partial name="SubItems" for="@Model[i].SubItems" />
    </div>
    }
</ol>