﻿@model InquiryModel
<form id="createInquryForm" action="/admin/inquiryes/edit/@Model.Id">
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="form-group mb-3 pr-35">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control name" />
                <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                <span asp-validation-for="Name" class="text-danger"></span>
                <hr />
            </div>
            <div id="formBody" class="container pl-0">
                <div class="dd-list">
                    @Html.Raw(Model.Body)
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="accordion" id="accordion">
               
                <div class="card">
                    <div class="card-header" id="addItem">
                        <h5 class="mb-0">
                            <span class="btn btn-link" type="button" data-toggle="collapse" data-target="#itemToAdd"
                                aria-expanded="true" aria-controls="collapseTwo"> Vložení prvku do formuláře </span>
                        </h5>
                    </div>
                    <div id="itemToAdd" class="collapse show" aria-labelledby="addItem" data-parent="#accordion">
                        <div class="card-body">
                            <div class="formInputs">
                                <partial name="Inputs" />
                            </div>
                        </div>
                    </div>
                </div>
 
             <div class="card">
                    <div class="card-header" id="itemSetting">
                        <h5 class="mb-0">
                            <span class="btn btn-link" type="button" data-toggle="collapse" data-target="#formItemSetting"
                                aria-expanded="true" aria-controls="collapseOne"> Nastavení prvku formuláře </span>
                        </h5>
                    </div>
                    <div id="formItemSetting" class="collapse" aria-labelledby="itemSetting" data-parent="#accordion">
                        <div class="card-body">
                            <div class="field-settings">
                                <div class="inputs-box"></div>
                                <button type="button" class="btn btn-default btn-xs">Potvrdit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>









            @* <div class="form-settings">
                <span>Vlastnosti prvku formuláře</span>
                <hr />
                <div class="field-settings">
                    <label>Název:</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <button type="button" class="btn btn-default btn-xs">Potvrdit</button>
                <hr />
            </div>
            <div class="formInputs">
                <span> Vložení prvku do formuláře</span>
                <hr />
                <partial name="Inputs" />
            </div> *@




        </div>
    </div>
    <input type="text" asp-for="Body" />
</form>