﻿@foreach (FormInputType input in StaticData.InputTypes)
{
    <div id="input_@input.Type." data-id="@input.Type" class="panel panel-filled dd-item">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
            </div>
            @input.Text
        </div>
        <div class="panel-body" style="display:none;">
            @input.Description
        </div>
    </div>
}