﻿@model List<BasicItemViewModel>

<div data-script="inquries"></div>

<div class="btn-group edit-btns" data-url="/admin/inquiryes">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-light btn-squared dropdown-toggle" aria-expanded="false">Vytvořit </button>
        <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
            <li><button class="dropdown-item" data-modalId="createModal" data-url="/admin/inquiryes/create" data-alowed="@(User.IsInRole("inquiryes_edit"))">Hlavní stránku</button></li>
            <li><button class="dropdown-item" data-action="subpage" data-modalId="createModal" data-url="/admin/inquiryes/create" data-alowed="@(User.IsInRole("inquiryess_edit"))">Podstránku stránku</button></li>
        </ul>
    </div>
    <button class="btn btn-light btn-squared" type="button" data-action="delete" data-alowed="@(User.IsInRole("inquiryes_delete"))">
        <span class="pe-7s-trash mr-1"></span>Odstranit
    </button>
    <button class="btn btn-light btn-squared" type="button" data-action="save" data-alowed="@(User.IsInRole("inquiryes_edit"))">
        <span class="pe-7s-diskette mr-1"></span>Uložit
    </button>
</div>
<div class="row">
    <div class="col-12 col-md-2 items-list">
        <div class="panel mt-0">
            <div class="panel-body pl-0">
                <partial name="ItemsList" for="@Model" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-10 item-content pr-1 pt-1">
        <div class="container-fluid pl-0">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="basicContent">
                        @{
                            @if (Model.Count == 0)
                            {
                                <div class="text-center text-danger">Nemáte vytvořeny žádné objednávkové formuláře.</div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>