﻿@model List<TemplateSectionModel>


<div class="dd-list">
    @for (int i = 0; i < Model.Count; i++)
    {
    <div id="pageSection_@Model[i].Type" data-id="@Model[i].Type" class="panel panel-filled">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="panel-toggle" draggable="false"><i class="fa fa-chevron-down"></i></a>
                @if (!Model[i].Locked || Model[i].Required)
                {
                    <a class="panel-close" draggable="false"><i class="fa fa-times"></i></a>
                }
    
            </div>
            @Model[i].Name
        </div>
        <div class="panel-body" style="display:none">
            <input type="text" name="ContentSections[@i].Name" value="@Model[i].Name" class="form-control" />
            <input type="text" name="ContentSections[@i].Id" value="@Model[i].IdSekce" />
            <input type="text" name="ContentSections[@i].Type" value="@Model[i].Type" />
            <input type="text" name="ContentSections[@i].Order" value="@Model[i].Order" class="order" />
            <input type="text" name="ContentSections[@i].Type" value="@Model[i].Locked" />
            <input type="text" name="ContentSections[@i].Type" value="@Model[i].Required" />
        </div>
    </div>
    }
</div>