﻿@model TemplateViewModel

<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">

    <form id="formCreateLayout" action="/admin/templates/create" class="tabs-container mt-3">
        <ul class="nav nav-tabs">
            <li><a class="nav-link active" data-toggle="tab" href="#tab-properityes" aria-expanded="true">Vlastnosti</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tab-structure" aria-expanded="false">Struktura rozložení</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-properityes" class="tab-pane active">
                <div class="panel-body">
                    <div class="form-group mb-3">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <small class="text-muted">Doporučuje se delka popisu 155 znaků.</small><br />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Target"></label>
                        <select asp-for="Target" asp-items="@(new SelectList(Globals.ContentTemplates,"Name","Text"))" class="select form-control" style="width: 100%"></select>
                    </div>

                </div>
            </div>

            <div id="tab-structure" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9 individual-layout">
                            <span asp-validation-for="Sections" class="text-danger"></span>

                            <div class="dd-list">
                                @for (int i = 0; i < Model.Sections.Count; i++)
                                {
                                    <div class="panel panel-filled">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                                            </div>
                                            @Model.Sections[i].Name
                                        </div>
                                        <div class="panel-body" style="display:none">
                                            <input type="text" asp-for="@Model.Sections[i].Type" class="form-control" />
                                            <input type="text" asp-for="@Model.Sections[i].Order" class="order" />
                                            <input type="text" asp-for="@Model.Sections[i].Locked" />
                                            <input type="text" asp-for="@Model.Sections[i].Required" />
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                        <div class="col-md-3 avalible-sections">

                            @foreach (Data.Section sectionItem in Globals.AvalibleSections)
                            {
                                <div id="footerSection_@sectionItem.Type" data-id="@sectionItem.Type" class="panel panel-filled">
                                    <div class="panel-heading">
                                        <div class="panel-tools">
                                            <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                                        </div>
                                        @sectionItem.Name
                                    </div>
                                    <div class="panel-body" style="display:none">@sectionItem.Description</div>
                                </div>
                            }

                        </div>
                    </div>
                    <small class="text-muted">Pro vložení sekce do šablony ji uchopte a přetáhněte do levé části stránky.</small>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
</div>