﻿@model TemplateViewModel

<form id="templateEdit" action="/admin/templates/edit/@Model.Id" class="tabs-container mt-1"></form>
<ul class="nav nav-tabs">
    <li id="tabList"><a class="nav-link active" data-toggle="tab" href="#tab-1" aria-expanded="true">Vlastnosti</a></li>
    <li id="tabCreate"><a class="nav-link" data-toggle="tab" href="#tab-2" aria-expanded="false">Struktura rozložení</a></li>

    @foreach (TemplateSectionModel item in Model.Sections)
    {
        if (item.Locked)
        {
            <li><a class="nav-link" data-toggle="tab" href="#tab-section-@item.Id" aria-expanded="false">@item.Name</a></li>
        }
    }

</ul>
<div class="tab-content">
    <div id="tab-1" class="tab-pane active">
        <div class="panel-body">
            <div class="form-group mb-3">
                <label asp-for="Name"></label>
                <input form="templateEdit" asp-for="Name" class="form-control" />
                <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea form="templateEdit" asp-for="Description" class="form-control" rows="5"></textarea>
                <small class="text-muted">Doporučuje se delka popisu 155 znaků.</small><br />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Target"></label>
                <select form="templateEdit" asp-for="Target" asp-items="@(new SelectList(Globals.ContentTemplates,"Name","Text"))" class="select form-control" style="width: 100%"></select>
            </div>

        </div>
    </div>

    <div id="tab-2" class="tab-pane">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9 individual-layout">

                    <div class="dd-list">
                        @for (int i = 0; i < Model.Sections.Count; i++)
                        {
                            <div class="panel panel-filled">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                                        @if(!Model.Sections[i].Required)
                                        {
                                        <a class="item-delete"><i class="fa fa-times"></i></a>
                                        }
                                    </div>
                                    @Model.Sections[i].Name
                                </div>
                                <div class="panel-body" style="display:none">
                                    <div class="row">
                                        <div class="col col-md-9">
                                            <label>Název sekce</label>
                                            <input form="templateEdit" asp-for="@Model.Sections[i].Name" class="form-control" />
                                        </div>
                                        <div class="col col-md-3">
                                            <label>Zakázat editaci obsahu</label><br />
                                            <input form="templateEdit" class="js-switch" asp-for="@Model.Sections[i].Locked" />.
                                        </div>
                                    </div>
                                    <input form="templateEdit" type="text" asp-for="@Model.Sections[i].Id" />
                                    <input form="templateEdit" type="text" asp-for="@Model.Sections[i].IdSekce" />
                                    <input form="templateEdit" type="text" asp-for="@Model.Sections[i].Type" />
                                    <input form="templateEdit" type="text" asp-for="@Model.Sections[i].Order" class="order" />
                                    <input form="templateEdit" type="text" asp-for="@Model.Sections[i].Required" />
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <div class="col-md-3 avalible-sections">

                    @foreach (Data.Section sectionItem in Globals.AvalibleSections)
                    {
                        <div id="footerSection_@sectionItem.Type" data-id="@sectionItem.Type"
                             class="panel panel-filled">
                            <div class="panel-heading">
                                <div class="panel-tools">
                                    <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                                </div>
                                @sectionItem.Name
                            </div>
                            <div class="panel-body" style="display:none">
                                @sectionItem.Description

                            </div>
                        </div>
                    }

                </div>
            </div>
            <small class="text-muted">Pro vložení sekce do rozložení, uchopte sekci a přetáhněte ji do levé části stránky.</small>
        </div>
    </div>

    @foreach (TemplateSectionModel item in Model.Sections)
    {
        if (item.Locked)
        {
            <div id="tab-section-@item.Id" class="tab-pane">
                <div class="panel-body vh-64">
                    @{
                        await Html.RenderPartialAsync("~/Areas/Sections/Views/" + item.Type + "/Edit.cshtml", Globals.AvalibleSections.First(s => s.Type == item.Type).Get(item.IdSekce));
                    }
                </div>
            </div>
        }
    }

</div>