﻿@model List<LayoutGroupViewModel>

<div data-script="templates"></div>

<div class="btn-group edit-btns" data-url="/admin/templates">
    <button class="btn btn-default btn-squared" type="button" data-action="create" data-modalId="createTemplate">
        <span class="pe-7s-plus mr-1"></span>Vytvořit
    </button>
    <button class="btn btn-default btn-squared" type="button" data-action="delete">
        <span class="pe-7s-trash mr-1"></span>Odstranit
    </button>
    <button class="btn btn-light btn-squared" type="button" data-action="save">
        <span class="pe-7s-diskette mr-1"></span>Uložit
    </button>
</div>
<div class="row">
    <div class="col-12 col-md-2 items-list pt-1">
        <div class="panel mt-0">
            <div class="panel-body pl-0">
                @if (Model.Count == 1)
                {
                    <partial name="ItemsList" for="@Model[0].Items" />
                }
                else
                {
                    <partial name="GroupsList" for="@Model" />
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-10 item-content pr-1 pt-1">
        <div class="container-fluid pl-0">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="basicContent">
                        @{
                            int count = 0;

                            foreach (LayoutGroupViewModel group in Model)
                            {
                                count = count + group.Items.Count;
                            }

                            @if (count == 0)
                            {
                                <div class="text-center text-danger">Nemáte vytvořeny žádné stránky.</div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
