﻿@model TemplateViewModel

<span asp-validation-for="Sections" class="text-danger"></span>

<div class="dd-list">
    @for (int i = 0; i < Model.Sections.Count; i++)
    {
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                </div>
                @Model.Sections[i].Name
            </div>
            <div class="panel-body" style="display:none">
                <input type="text" asp-for="@Model.Sections[i].Name" class="form-control" />
                <input type="text"  asp-for="@Model.Sections[i].Type" />
                <input type="text"  asp-for="@Model.Sections[i].Order" class="order" />
                <input type="text"  asp-for="@Model.Sections[i].Locked" />
                <input type="text"  asp-for="@Model.Sections[i].Required" />
            </div>
        </div>
    }
</div>