﻿@model List<BasicItemViewModel>

<div data-script="basicEdit"></div>

<div class="btn-group edit-btns" data-url="/admin/pages/settings/footer">
    <button class="btn btn-default btn-squared" type="button" data-action="create" data-modalId="basicCreate">
        <span class="pe-7s-plus mr-1"></span>Přidat položku
    </button>
    <button class="btn btn-default btn-squared" type="button" data-action="save">
        <span class="pe-7s-diskette mr-1"></span>Uložit
    </button>
</div>
<div class="row">
    <div class="col-12 col-md-2 items-list pt-1">
        <div class="panel mt-0">
            <div class="panel-body pl-0">
                <partial name="ItemsList" for="@Model" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-10 item-content pr-1 pt-1">
        <div class="container-fluid pl-0">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="basicContent">
                        @if (Model.Count == 0)
                        {
                            <div class="text-center text-danger">Nemáte vytvořeno žádné rozložení stránek! Nejprve vytvořte rozložení.</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
