﻿@model TextViewModel

<form id="textForm-@Model.IdText" action="/admin/sections/text/edit/@Model.IdText" data-idSection="@Model.IdText">
    <textarea asp-for="Text" class="summernote">@Model.Text</textarea>
</form>