﻿@model string
@{
    Layout = null;
}
<html lang="cs">
<body>
    <h1>Žádost o zavolání</h1>
    <p>Návštěvník stránek @Globals.WebConfig.Domain Vás žádá, aby jste jej kontaktoval na telefonním čísle: <strong>@Model</strong>.</p>
</body>
</html>