﻿@model Data.WebMailModel
@{
    Layout = null;
}
<html lang="cs">
<body>
    <h1>Zpráva se stránek @Globals.WebConfig.Domain</h1>
    <p>@Model.Message</p>
    <p>
        @Model.Name<br />
        @Model.Email<br />
        @Model.Phone<br />
    </p>
</body>
</html>