﻿@model Data.WebNewModel
@{
    Layout = null;
}
<html lang="cs">
<body>
    <h1>Přihlášení k odběru novinek na @Globals.WebConfig.Domain</h1>
    <p>Na základě Vašeho požadavku jsme Váš e-mail @Model.Email přidali do seznamu příjemců novinek.</p>
    <p>Přihlášení můžete kdykoliv odhlásit kliknutím na níže uvedený odkaz.</p>
    <p><a href="@(Globals.WebConfig.Domain)/uregisternews/@Model.Token">Zrušit odběr novinek.</a></p>
    <p>S pozdravem:</p>
    <p>
        @Globals.Company.CompanyName<br />
        @Globals.Company.Street<br />
        @Globals.Company.City, @Globals.Company.PosCode
    </p>
    <p>
        @Globals.Company.Phone<br />
        @Globals.WebConfig.SmtpEmail
    </p>
</body>
</html>