﻿<h2>Vytvoření stránky</h2>
<p>Každá stránka se skládá ze dvou základních částí:</p>
<ul>
    <li>Vlastnosti stránky</li>
    <li>Obsah stránky</li>
</ul>
<p>
    U každé stránky je třeba nastavit její základní vlastnosti. To  se provádí v záložce Vlastnosti a SEO. Samotný obsah stránky je tvořen jednotlivými  sekcemi. Tyto sekce lze libovolně vkládat do stránky jednoduchým přetažením ze  seznamu dostupných sekcí v záložce &bdquo;Rozložení&ldquo;.
</p>
<p>
    V této záložce je třeba vyplnit základní povinné údaje  jako jsou:
</p>
<h3>Vlastnosti a SEO</h3>
<ul>
    <li>Název</li>
    <li>Titulek</li>
    <li>Klíčová slova</li>
    <li>Popisek stránky</li>
</ul>
<p>
    Při vytváření stránky se její URL adresa generuje automaticky z názvu stránky. Proto nesmí být uveden dvakrát stejný název  stránky na stejné úrovni. (př: dvě hlavní stránky se stejným názvem) Tuto URL  adresu lze nastavovat i ručně pomocí přepínače <a href="#" data-modalid="helpModal" data-url="/admin/help-modal/pages/hardurl">Pevná URL adresa stránky</a>.<br />
    Dále lze nastavit následující vlastní stránky:
</p>
<ul>
    <li>Povolit přístup robotům - <small class="text-muted">Povoluje indexačním robotů procházet a indexovat obsah stránky.</small></li>
    <li>Zobrazení v menu</li>
    <li>Pop Up okno</li>
    <li>Priorita stránky</li>
</ul>
<h3>Rozložení</h3>
<p>
    V této záložce se vytváří vlastní obsah stránky pomocí  dostupných sekcí. Sekci vložíte tak, že ji uchopíte myší a přetáhnete do pravé  části nebo použijete již vytvořenou šablonu. <a href="#" data-modalid="helpModal" data-url="/admin/help-modal/pages/templates">Jak vytvořit šablonu?</a> Vložené  sekce je možné libovolně řadit uchopením a přetažením mezi sebou.<br />
    Obsah sekcí ručně vložených do obsahu stránky se vytváří až  po jejím vytvoření. Při použití šablony se obsah sekce vytváří současně se  stránkou samotnou.
</p>
<p>Obsah jednotlivých sekcí se edituje v příslušných záložkách. Každá sekce má své specifické postupy editace.</p>
<h3>Jak vytvářet a editovat sekce:</h3>

<ul>
    @for (int i = 0; i < Globals.AvalibleSections.Count; i++)
    {
        <li><a href="#" data-modalid="helpModal" data-url="/admin/help-modal/sections/@Globals.AvalibleSections[i].Type">@Globals.AvalibleSections[i].Name</a></li>
    }
</ul>

<h3>Postup vytvoření stránky</h3>
<p>
    Kliknutím na tlačítko vytvořit se zobrazí podmenu pro  vytvoření hlavní stránky a vytvoření podstránky. Klikněte na tlačítko &bdquo;Hlavní  stránku&ldquo;. Zobrazí se dialogové okno se záložkami Vlastnosti a SEO a Rozložení.  Nejprve nastavte vlastnosti stránky a následně vytvořte samotný obsah stránky.
    <br />
    Poté, co máte stránku připravenou, klikněte na tlačítko &bdquo;Vytvořit&ldquo;.  Dialogové okno se zavře a Vámi vytvořená stránka se vloží do levého seznamu.
    <br />
    Kliknutím na název stránky v seznamu přejdete k <a href="#" data-modalid="helpModal" data-url="/admin/help-modal/pages/edit">úpravě  stránky</a>.
</p>
<p>Podstránky se vytvářejí stejně jako stránky hlavní. Podstránka  se vytvoří vždy pod tou stránkou, kterou máte vybránu v seznamu vytvořených  stránek.</p>