﻿<h2>Úprava stránky</h2>
<p>V hlavním menu administrace klikněte na „Stránky a podstránky“. Automaticky se vybere první stránka ze seznamu. Klikněte v levém seznamu vytvořených stránek na tu, kterou si přejete upravit.</p>
<p>Jako první se vždy nacházíte na záložce „Vlastnosti a SEO“ další záložky reprezentují jednotlivé sekce, který jsou do stránky vloženy. Jako poslední je záložka „Rozložení“</p>
<p>Změny na záložkách „Vlastnosti a SEO“ a „Rozložení“ se chovají stejně jako při vytváření stránky. U rozložení lze jednotlivé sekce přidávat a odebírat.</p>
<p>Všechny ostatní úpravy, které provede, se projeví vždy až po uložení. V případě, že se rozhodnete editaci stránky opustit a máte již provedeny změny, zobrazí se dotaz, zda si skutečně přejete opustit editaci stránky. Pokud kliknete na tlačítko „Ano“ Všechny Vámi provedené změny budou zahozeny.</p>
<p>Obsah jednotlivých sekcí se edituje v příslušných záložkách. Každá sekce má své specifické postupy editace.</p>
<h3>Jak editovat sekce:</h3>

<ul>
    @for (int i = 0; i < Globals.AvalibleSections.Count; i++)
    {
      <li><a href="#" data-modalid="helpModal_@Globals.AvalibleSections[i].Type" data-url="/admin/help-modal/sections/@Globals.AvalibleSections[i].Type">@Globals.AvalibleSections[i].Name</a></li>
    }
</ul>