﻿<h5>Hlavní stránky</h5>
<p>
    Při vytváříení stránky na první úrovni, bude její URL adresa přesně taková, jakou ji zadáte.
    Například pro stránku <strong class="c-accent">všeobecné obchodní podmínky</strong>,
    by měla URL adresa vypadat následovně:

    <div class="form-group mb-3">
        <label>Pevná url adresa</label>
        <input value="vseobecne-obchodni-podminky" class="form-control not-allowed" disabled />
        <small class="text-muted">Nesmmí obsahov diakritiku, speciální znaky a mezery.</small>
    </div>
<p>Výsledná URL adresa stránky: @Globals.WebConfig.Domain<strong class="c-accent">/vseobecne-obchodni-podminky</strong></p>
<small>Doporučuje se, nahrazovat mezeru mezi slovy pomlkou.</small>
<hr />
<h5>Pod stránky</h5>
<p>
    Při vytváření pod stránky, například pro stráku <strong class="c-accent">"O nás"</strong>,
    zadáte URL adresu stejně, jako by se jednalo o stránku první úrovně.
    Její URL adresa však <strong class="text-danger">NEBUDE</strong> automaticky navazovat na URL adresu nadřazené stránky.
    Můžete zadat url adresu včetně lomítek a vytvářet tak vlastní strukturu adresy.
</p>
<p>Například: @Globals.WebConfig.Domain<strong class="c-accent">/o-nas/vseobecne-obchodni-podminky</strong></p>
<small>Zpětná lomítka na začátku adresy se vždy doplňují automaticky!</small>