﻿@model ImagesViewModel


<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">
    <div class="row">
        <div class="col col-md-2">
            <ul class="nav nav-tabs d-block items-list">
                @foreach (FolderViewModel folder in Model.Folders)
                {
                    string active = string.Empty;

                    if (folder.Id == Model.ActiveFolder) active = "active show";

                    <li>
                        <a class="nav-link @active" data-toggle="tab" href="#tab-editPage" data-url="/admin/managers/images/list/@folder.Id">@folder.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col col-md-10">
            <partial name="List" for="@Model.Images" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-squared" data-action="upload">
        <form id="uploadImage" method="post" action="/admin/managers/images/upload" enctype="multipart/form-data">
            <input asp-for="@Model.Image" />
        </form>
        Nahrát obrázek
        </button>
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" class="btn btn-accent btn-squared" data-action="save">Vložit</button>
</div>