﻿@model ImagesViewModel

<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">
    <div class="row">
        <partial name="List" for="@Model.Images" />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-squared" data-action="upload">
        <form id="uploadImage" method="post" action="/admin/managers/images/upload/@Model.ActiveFolder" enctype="multipart/form-data">
            <input asp-for="@Model.Image" />
        </form>
        Nahrát obrázek
        </button>
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" class="btn btn-accent btn-squared" data-action="save">Vložit</button>
</div>