﻿@model List<ImageModel>

<div class="basicContent">
    <div class="images-container">
        @if (Model.Count == 0)
        {
            <div class="text-danger">slozka neobsahujhe obrazky</div>
        }
        else
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                string src = Globals.Folders.WebImages + Model[i].FileName + "_Thumb" + Model[i].Extension;

                <div class="panel panel-filled mb-0">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="item-delete"><i class="fa fa-times"></i></a>
                        </div>
                        @Model[i].Title
                    </div>
                    <div class="panel-body mb-0">
                        <img id="@Model[i].Id" src="@src" alt="@Model[i].FileName" />
                    </div>
                </div>
            }
        }
    </div>
</div>