﻿@model AdminUserViewModel

<div class="form-group">
    <label asp-for="Login" class="control-label"></label>
    <input asp-for="Login" readonly class="form-control" />
    <small class="text-muted">Vaše přihlašovací jméno nené možné změnit.</small>
</div>
<div class="form-group">
    <label asp-for="UserPass" class="control-label"></label>
    <input asp-for="UserPass" class="form-control" />
    <span asp-validation-for="UserPass" class="text-danger"></span><br />
    <small class="text-muted">Vyplňte pouze pokud si přejete nastavit nové heslo.</small>

</div>
<div class="form-group">
    <label asp-for="UserPassConf" class="control-label"></label>
    <input asp-for="UserPassConf" class="form-control" />
    <span asp-validation-for="UserPassConf" class="text-danger"></span><br />
    <small class="text-muted">Vyplňte pouze pokud si přejete nastavit nové heslo.</small>
</div>

