﻿@model FormsViewModel

<form action="/admin/sections/contactform/create">
    <div class="row">
        <div class="col col-md-6 form-group mb-3">
            <label>Zobrazit jako</label>
            <select asp-for="ShowAs" asp-items="@(new SelectList(Globals.SectionShowAsItems.Where(s => s.Section == Model.Type).ToList(),"Value","Text"))" class="select form-control" style="width: 100%"></select>
            <small class="text-muted">Přepne vzhled zobrazení obrázků na stránce.</small><br />
        </div>
        <div class="col col-md-6 form-group mb-3">
            <label asp-for="FormType"></label>
            <select asp-for="FormType" asp-items="@(new SelectList(Model.FormTypes,"Value","Text"))" class="select form-control" style="width: 100%"></select>
        </div>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control" rows="5" required></textarea>
        <small class="text-muted">Doporučuje se delka popisu 600 znaků.</small><br />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Recipients"></label>
        <select asp-for="Recipients" asp-items="@(new SelectList(Model.RecipientsList))" class="select2 form-control select2-hidden-accessible" multiple="" aria-hidden="true" style="width: 100%"></select>
        <small class="text-muted">Źadajte e-mail na který se mají zprávy odesílat. Pokud necháte pole prázdné, e-mail se odešle na kontaktní adresu uvedenou u společnosti.</small><br />
    </div>

    <div class="form-group mb-3">
        <input class="js-switch" asp-for="ShowGDPR" /> @Html.DisplayNameFor(model => model.ShowGDPR)
    </div>
</form>