﻿@model CarouselViewModel

<form action="/admin/sections/carousel/create">

    <div class="row">

        <div class="form-group mb-3 col-md-4">
            <label asp-for="Loop"></label><br />
            <input class="js-switch" asp-for="Loop" /><br />
            <small class="text-muted">Povolí automatickou změnu položek.</small><br />
        </div>

        <div class="form-group mb-3 col-md-4">
            <label asp-for="LoopTime"></label>
            <input asp-for="LoopTime" class="form-control" />
            <small class="text-muted">Doba se uvádí ve vteřinách.</small><br />
        </div>

        <div class="form-group mb-3 col-md-4">
            <button class="btn btn-default btn-squared" type="button">Přidat položku</button>
        </div>
    </div>
    <hr />

    <div id="carouselitems"></div>
</form>