﻿@model CarouselViewModel

<div data-script="carousel"></div>

<form id="carouselForm-@Model.IdCarousel" action="/admin/sections/carousel/edit/@Model.IdCarousel"
    data-folderid="@Model.FolderId">

    <div class="row">

        <div class="form-group mb-3 col-md-4">
            <label asp-for="Loop"></label><br />
            <input class="js-switch" asp-for="Loop" id="loop_@Model.IdCarousel" /><br />
            <small class="text-muted">Povolí automatickou změnu položek.</small><br />
        </div>

        <div class="form-group mb-3 col-md-4">
            <label asp-for="LoopTime"></label>
            <input asp-for="LoopTime" id="loopTime_@Model.IdCarousel" class="form-control" />
            <small class="text-muted">Doba se uvádí ve vteřinách.</small><br />
        </div>

        <div class="form-group mb-3 col-md-4">
            <button class="btn btn-default btn-squared" type="button" data-action="addItem">Přidat položku</button>
        </div>
    </div>
    <hr />
    <div class="carouselitems">
        <div class="dd-list">
            @{
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    <div class="panel panel-filled">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                                <a class="item-delete"><i class="fa fa-times"></i></a>
                            </div>
                            @Model.Items[i].Name
                        </div>
                        <div class="panel-body" style="display:none;">
                            <div class="row">
                                <div class="col-md-4">
                                    @if (Model.Items[i].Image != null)
                                    {
                                        string src = Globals.Folders.WebImages + Model.Items[i].Image.FileName + "_Thumb" +
Model.Items[i].Image.Extension;
                        <div class="carousel-image">
                            <div class="image-placeholder" style="display:none;">
                                <button class="btn btn-default btn-squared no-border" type="button"
                                        data-action="addImage" data-url="/admin/managers/images/@Model.FolderId">
                                    <span class="pe-7s-plus"></span>
                                </button>
                            </div>

                            <div class="panel panel--inner panel-filled mb-0">
                                <div class="panel-heading">
                                    <div class="panel-tools">
                                        <a class="item-delete"><i class="fa fa-times"></i></a>
                                    </div>
                                    Name
                                </div>
                                <div class="panel-body mb-0">
                                    <input type="hidden" name="IdImg" value="id" />
                                    <img src="@src">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-image">
                            <div class="image-placeholder">
                                <button class="btn btn-default btn-squared no-border" type="button"
                                        data-action="addImage" data-url="/admin/managers/images/@Model.FolderId">
                                    <span class="pe-7s-plus"></span>
                                </button>
                            </div>
                        </div>
                    }
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mb-3">
                                        <label asp-for="Items[i].Name"></label>
                                        <input asp-for="Items[i].Name" class="form-control" />
                                        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                                        <span asp-validation-for="Items[i].Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3 ">
                                        <label asp-for="Items[i].Title"></label>
                                        <input asp-for="Items[i].Title" class="form-control" />
                                        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Items[i].Link"></label>
                                        <div class="input-group">
                                            <input asp-for="Items[i].Link" class="form-control" />
                                            <div class="input-group-append">
                                                <button class="btn btn-default btn-squared btn-outline-secondary"
                                                        type="button">
                                                    Vybrat stránku
                                                </button>
                                            </div>
                                        </div>
                                        <small class="text-muted">
                                            V případě vkládání externího odkazu zadejte úplnou adresu
                                            včetně
                                            https://
                                        </small><br />
                                    </div>
                                </div>
                                <div class="form-group mb-3 col-md-4">
                                    <label asp-for="Items[i].Text"></label>
                                    <textarea asp-for="Items[i].Text" class="form-control" rows="11"></textarea>
                                    <small class="text-muted">Doporučuje se delka popisu 155 znaků.</small><br />
                                </div>
                            </div>
                            <input type="text" asp-for="Items[i].Id" />
                            <input type="text" asp-for="Items[i].Carousel" />
                            <input type="text" asp-for="Items[i].Order" class="order" />
                            <input type="text" asp-for="Items[i].IdImg" class="img" />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</form>