﻿@model DashboardViewModel

@if (Model.LastInquiry != null)
{
<div class="col-lg-3 col-xs-12">
    <div class="panel panel-filled" style="position:relative;height: 100px">
        <div class="panel-body">
            <div class="m-t-sm">
                <div class="pull-right">
                    <a href="/admin/inquiryes" class="btn btn-default btn-xs">Zobrazit poptávky</a>
                </div>
                <div class="c-white">Nevyřízené poptávky <span class="label label-accent">@Model.UnreadedLastInquiryes</span></div>
                <div class="slight m-t-sm">
                    <i class="fa fa-clock-o"> </i> Poslední poptávka: <br />
                    <span class="c-white">@Model.LastInquiry.Created</span><br />
                    <span class="c-white">@Model.LastInquiry.Name</span>
                </div>
            </div>
        </div>
    </div>
</div>
}