﻿@model LayoutViewModel

<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">

    <form id="formCreateLayout" action="/admin/layouts/create" class="tabs-container mt-3">
        <ul class="nav nav-tabs">
            <li><a class="nav-link active" data-toggle="tab" href="#tab-properityes" aria-expanded="true">Vlastnosti</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-properityes" class="tab-pane active">
                <div class="panel-body">
                    <div class="form-group mb-3">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <small class="text-muted">Doporučuje se delka popisu 155 znaků.</small><br />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="js-switch" asp-for="DisableMenu" /> @Html.DisplayNameFor(model => model.DisableMenu)
                        <br /><small class="text-muted">Zakáže zobrazování menu stránky na webu.</small>
                    </div>

                    <div class="form-group">
                        <input class="js-switch" asp-for="DisableFooter" /> @Html.DisplayNameFor(model => model.DisableFooter)
                        <br /><small class="text-muted">Zakáže zobrazování patičky stránky na webu.</small>
                    </div>

                    <div class="form-group">
                        <input class="js-switch" asp-for="IsDefault" /> @Html.DisplayNameFor(model => model.IsDefault)
                        <br /><small class="text-muted">Nastraví toto rozložení jako výchozí při vytváření nových stránek.</small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
</div>