﻿@model LayoutViewModel

<form id="formLayoutEdit" action="/admin/layouts/edit/@Model.IdLayout" class="tabs-container mt-1">
    <ul class="nav nav-tabs">
        <li id="tabList"><a class="nav-link active" data-toggle="tab" href="#tab-1" aria-expanded="true">Vlastnosti</a></li>
        <li class="ml-auto">
            <div class="form-group mb-0">
                <span class="mr-2">@Html.DisplayNameFor(model => model.IsDefault)</span>
                <input class="js-switch" asp-for="IsDefault" />
            </div>
        </li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <div class="form-group mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <small class="text-muted">Doporučuje se delka popisu 155 znaků.</small><br />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input class="js-switch" asp-for="DisableMenu" /> @Html.DisplayNameFor(model => model.DisableMenu)
                    <br /><small class="text-muted">Zakáže zobrazování menu stránky na webu.</small>
                </div>

                <div class="form-group">
                    <input class="js-switch" asp-for="DisableFooter" /> @Html.DisplayNameFor(model => model.DisableFooter)
                    <br /><small class="text-muted">Zakáže zobrazování patičky stránky na webu.</small>
                </div>

            </div>
        </div>
    </div>
</form>