﻿@model PageViewModel
<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>

<div class="modal-body">
    <div class="tabs-container mt-3">
        <ul class="nav nav-tabs">
            <li><a class="nav-link active" data-toggle="tab" href="#tab-crPage-1" aria-expanded="true">Vlastnosti a SEO</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tab-crPage-2" aria-expanded="false">Rozložení</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-crPage-1" class="tab-pane active">
                <div class="panel-body">
                    <form id="createProperties" action="/admin/pages/create/@Model.ParentId" class="tabs-container mt-3">
                        <partial name="Partials/Properities" for="@Model" />
                    </form>
                </div>

            </div>

            <div id="tab-crPage-2" class="tab-pane">
                <div class="panel-body">
                    <form id="createSections" action="/admin/pages/sections" class="tabs-container mt-3">
                        <partial name="Partials/Sections" for="@Model" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
</div>