﻿@model PageViewModel

<div data-pageid="@Model.PageId"></div>

<div class="tabs-container mt-0">
    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tab-1" aria-expanded="true">Vlastnosti a SEO</a></li>

        @for (int i = 0; i < Model.ContentSections.Count; i++)
        {
            if (!Model.ContentSections[i].Locked || (Model.ContentSections[i].Type == "Events" && Model.ContentSections[i].Required))
            {
                <li><a class="nav-link" data-toggle="tab" href="#tab-section-@Model.ContentSections[i].Id" aria-expanded="false">@Model.ContentSections[i].Name</a></li>
            }
        }

        <li><a class="nav-link" data-toggle="tab" href="#tab-2" aria-expanded="false">Rozložení</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tab-3" aria-expanded="false">Zveřejnění</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active" data-help="/admin/help/pages/properties">
            <div class="panel-body vh-64">
                <form action="/admin/pages/edit/@Model.PageId" id="editProperties">
                    <partial name="Partials/Properities" for="@Model" />
                </form>
            </div>
        </div>

        @for (int i = 0; i < Model.ContentSections.Count; i++)
        {
            if (!Model.ContentSections[i].Locked || (Model.ContentSections[i].Type == "Events" && Model.ContentSections[i].Required))
            {
                <div id="tab-section-@Model.ContentSections[i].Id" class="tab-pane" data-help="/admin/help/sections/@Model.ContentSections[i].Type">
                    <div class="panel-body vh-64">
                        @{await Html.RenderPartialAsync("~/Areas/Sections/Views/" + Model.ContentSections[i].Type + "/Edit.cshtml", Globals.AvalibleSections.First(s => s.Type == Model.ContentSections[i].Type).Get(Model.ContentSections[i]));}
                    </div>
                </div>
            }
        }

        <div id="tab-2" class="tab-pane" data-help="/admin/help/pages/sections">
            <div class="panel-body vh-64">
                <form action="/admin/pages/sections/@Model.PageId" id="sections">
                    <partial name="Partials/Sections" for="@Model" />
                </form>
            </div>
        </div>

        <div id="tab-3" class="tab-pane" data-help="/admin/help/pages/sections">
            <div class="panel-body vh-64">
                <partial name="Partials/Publish" for="@Model" />
            </div>
        </div>

    </div>
</div>