﻿@model List<LayoutGroupViewModel>

<div data-script="pagesEdit"></div>

<div class="btn-group edit-btns" data-url="/admin/pages">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-light btn-squared dropdown-toggle" aria-expanded="false">Vytvořit </button>
        <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
            <li><button class="dropdown-item" data-modalId="createModal" data-url="/admin/pages/create" data-alowed="@(User.IsInRole("pages_edit"))">Hlavní stránku</button></li>
            <li><button class="dropdown-item" data-action="subpage" data-modalId="createModal" data-url="/admin/pages/create" data-alowed="@(User.IsInRole("pages_edit"))">Podstránku stránku</button></li>
        </ul>
    </div>
    <button class="btn btn-light btn-squared" type="button" data-action="delete" data-alowed="@(User.IsInRole("pages_delete"))">
        <span class="pe-7s-trash mr-1"></span>Odstranit
    </button>
    <button class="btn btn-light btn-squared" type="button" data-action="save" data-alowed="@(User.IsInRole("pages_edit"))">
        <span class="pe-7s-diskette mr-1"></span>Uložit
    </button>
</div>
<div class="row">
    <div class="col-12 col-md-2 items-list">
        <div class="panel mt-0">
            <div class="panel-body pl-0">
                @if (Model.Count == 1)
                {
                    <partial name="ItemsList" for="@Model[0].Items" />
                }
                else
                {
                    <partial name="GroupsList" for="@Model" />
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-10 item-content pr-1 pt-1">
        <div class="container-fluid pl-0">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="basicContent">
                        @{
                            int count = 0;

                            foreach (LayoutGroupViewModel group in Model)
                            {
                                count = count + group.Items.Count;
                            }

                            @if (count == 0)
                            {
                                <div class="text-center text-danger">Nemáte vytvořeny žádné stránky.</div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


