﻿<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>@ViewBag.Title</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/theme/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/theme/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/theme/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/theme/vendor/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/theme/vendor/summernote/dist/summernote-bs4.css" />
    <link rel="stylesheet" href="~/theme/vendor/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/theme/vendor/switchery/switchery.min.css" />
    <link rel="stylesheet" href="~/theme/vendor/select2/dist/css/select2.min.css" />

    <!-- App styles -->
    <link rel="stylesheet" href="~/theme/styles/pe-icons/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/theme/styles/pe-icons/helper.css" />
    <link rel="stylesheet" href="~/theme/styles/stroke-icons/style.css" />
    <link rel="stylesheet" href="~/theme/styles/style.css" />
    <link href="~/theme/styles/custom.css" rel="stylesheet" />
</head>

<body>

    <!-- Wrapper-->
    <div class="wrapper">
        <!-- Header-->
        <nav class="navbar navbar-expand-md navbar-default fixed-top">
            <div class="navbar-header">
                <div id="mobile-menu">
                    <div class="left-nav-toggle">
                        <a href="#">
                            <i class="stroke-hamburgermenu"></i>
                        </a>
                    </div>
                </div>
                <a class="navbar-brand" href="/admin">
                    Effective
                    <span>tools</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="left-nav-toggle">
                    <a href="">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
                <form class="navbar-form mr-auto">
                    <input type="text" class="form-control" placeholder="Vyhledávání obsahu webu v administraci"
                        style="width: 300px">
                </form>
                <ul class="nav navbar-nav">
                    <li class="nav-item profil-link">
                        <a href="/admin/account">
                            <span class="profile-address mr-1">@User.Identity.Name</span>
                            <i class="pe pe-7s-user c-accent fa-2x"></i>
                        </a>
                    </li>

                    <li class="nav-item profil-link logout">
                        <a href="/admin/logout">
                            <span class="profile-address mr-1">Odhlásit</span>
                            <i class="pe pe-7s-power c-danger"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End header-->
        <!-- Navigation-->
        <aside class="navigation">
            <nav>
                <ul class="nav luna-nav">
                    <li class="nav-category">
                        Administrace
                    </li>
                    <li class="active">
                        <a href="/admin">Přehled</a>
                    </li>
                    <li>
                        <a href="#nastaveni" data-toggle="collapse" aria-expanded="false">
                            Nastavení<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                        </a>
                        <ul id="nastaveni" class="nav nav-second collapse">
                            <li><a href="/admin/account">Můj účet</a></li>
                            <li><a href="/admin/accounts">Uživatelské účty</a></li>
                            <li><a href="/admin/groups">Uživatelské skupiny</a></li>
                            <li><a href="/admin/configuration">Konfigurace</a></li>
                        </ul>
                    </li>

                    @{
                        foreach (Data.AdminMenuItem item in Globals.AdminMenu)
                        {
                            <partial name="AdminMenuItem" for="@item" />
                        }
                    }

                    <li class="nav-info">
                        <i class="pe pe-7s-help1 text-accent"></i>
                        <div class="m-t-xs">
                            <a class="c-white" href="/admin/help">Nápověda</a> aplikace Effective Tools.
                        </div>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- End navigation-->
        <!-- Main content-->
        <section class="content">
            <div class="container-fluid">

                <partial name="Navigation" />
                <div id="mainContainer">@RenderBody()</div>

                <div class="sidebar sidebar--hide">
                    <div class="sidebar__inner">
                        <div class="sidebar__title">
                            <span class="sidebar__icon"><i class="pe page-header-icon pe-7s-albums"></i></span>
                            <span>Průzkumník obsahu</span>
                            <span class="sidebar__close"><i class="fa fa-times"></i></span>
                        </div>
                        <div class="sidebar__content"></div>
                    </div>
                </div>

            </div>
        </section>

        <!-- End main content-->
        <div class="preload-container">
            <div class="loader-bar"></div>
        </div>

        <div class="modal fade" id="warrningModal" tabindex="-1" role="dialog" aria-hidden="true"
            style="display: none;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p class="message">

                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="confirm">Ano</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- End wrapper-->
    <!-- Vendor scripts -->
    <script src="~/theme/vendor/pacejs/pace.min.js"></script>
    <script src="~/theme/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/theme/vendor/popper/popper.min.js"></script>
    <script src="~/theme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/theme/vendor/toastr/toastr.min.js"></script>
    <script src="~/theme/vendor/sparkline/index.js"></script>
    <script src="~/theme/vendor/flot/jquery.flot.min.js"></script>
    <script src="~/theme/vendor/flot/jquery.flot.resize.min.js"></script>
    <script src="~/theme/vendor/flot/jquery.flot.spline.js"></script>
    <script src="~/theme/vendor/datatables/datatables.min.js"></script>
    <script src="~/theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/theme/vendor/select2/dist/js/select2.js"></script>
    <script src="~/theme/vendor/summernote/dist/summernote-bs4.js"></script>
    <script src="~/theme/vendor/summernote/lang/summernote-cs-CZ.js"></script>

    <!-- App scripts -->
    <script type="module" src="~/_dev/js/admin/admin.js"></script>


    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

</body>

</html>