﻿@model Data.AdminMenuItem


@{
    if (Model.Items == null)
    {
        <li>
            <a href="@Model.Link">@Model.Text</a>
        </li>
    }
    else
    {
        <li class="nav-category">
            @Model.Text
        </li>

        foreach (Data.AdminMenuItem item in Model.Items)
        {
            if (item.Items == null)
            {
                <li>
                    <a href="@item.Link">@item.Text</a>
                </li>
            }
            else
            {
                if (item.Items != null)
                {
                    <li>
                        <a href="#@item.Link" data-toggle="collapse" aria-expanded="false">
                            @item.Text<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                        </a>
                        <ul id="@item.Link" class="nav nav-second collapse">

                            @foreach (Data.AdminMenuItem subitem in item.Items)
                            {
                                <li><a href="@subitem.Link">@subitem.Text</a></li>
                            }
                        </ul>
                    </li>
                }
            }
        }
    }
}



