﻿<!-- Main content-->
<div class="modal-header py-0">
    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-close-circle"></i>
        </div>
        <div class="header-title">
            <h3>Přístup odepřen</h3>
            <small>
                Nedostatečná oprávnění
            </small>
        </div>
    </div>
</div>
<div class="modal-body">
    Je nám líto, pro přístup do této části administrace nemáte dostatečná oprávnění. Požádejte
    administrátora o zvýšení Vašich oprávnění.
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
</div>
