﻿@{
    Layout = "Empty";
    ViewBag.Title = "Přihlášení do administrace";
}

<!-- Main content-->
<section class="content">
    <div class="container-center md animated slideInDown">

        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-close-circle"></i>
            </div>
            <div class="header-title">
                <h3>Přístup odepřen</h3>
                <small>
                    Nedostatečná oprávnění
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                Je nám líto, pro přístup do této části administrace nemáte dostatečná oprávnění. Požádejte administrátora o zvýšení Vašich oprávnění.
            </div>
        </div>
        <div>
            <a href="/admin" class="btn btn-accent btn-squared">Zpět do administrace</a>
        </div>

    </div>
</section>
<!-- End main content-->