﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <!-- Page title -->
    <title>@ViewData["Title"]</title>
    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/theme/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/theme/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/theme/vendor/bootstrap/css/bootstrap.css" />
    <!-- App styles -->
    <link rel="stylesheet" href="~/theme/styles/pe-icons/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/theme/styles/pe-icons/helper.css" />
    <link rel="stylesheet" href="~/theme/styles/stroke-icons/style.css" />
    <link rel="stylesheet" href="~/theme/styles/style.css">
</head>
<body>
    <!-- Wrapper-->
    <div class="wrapper">

        @RenderBody()

    </div>
    <!-- End wrapper-->
    <!-- Vendor scripts -->
    <script src="~/theme/vendor/pacejs/pace.min.js"></script>
    <script src="~/theme/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/theme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- App scripts -->
    <script src="~/theme/scripts/luna.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

</body>
</html>