﻿@model List<LayoutGroupViewModel>


@foreach (LayoutGroupViewModel group in Model)
{
    <div class="c-accent">@group.Name</div>
    <hr />
    <ul class="nav nav-tabs d-block">
        @foreach (BasicItemViewModel item in group.Items)
        {
            if (item.Pages == 0)
            {
                <li>
                    <a class="nav-link"
                       data-toggle="tab" href="#tab-editPage"
                       data-url="@item.Url">
                        @item.Text
                    </a>
                </li>
            }
            else
            {
                <li data-expanded="collapse">
                    <a class="nav-link"
                       data-toggle="tab" href="#tab-editPage"
                       data-url="@item.Url"
                       data-subitems="@item.Pages">
                        @item.Text
                        <span class="sub-nav-icon rot-90"> <i class="stroke-arrow"></i> </span>
                    </a>
                    <ul id="subitems" class="subitems-list">
                    </ul>
                </li>
            }
        }

    </ul>
    <br />
}

