﻿@model Data.AppConfig

@{
    Layout = "Empty";
    ViewBag.Title = "Přihlášení do administrace";
}

<!-- Main content-->
<section class="content">
    <div class="container-center md animated slideInDown">

        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-close-circle"></i>
            </div>
            <div class="header-title">
                <h3>Effective Tools</h3>
                <small>
                    Instalace aplikace
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <form method="post" id="formInstall" name="formInstall" action="/admin/installation">
                    Vyplňte včechna pole

                    <div class="form-group">
                        <label asp-for="RootPass" class="control-label"></label>
                        <input asp-for="RootPass" type="password" autocomplete="off" class="form-control" />
                        <span asp-validation-for="RootPass" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SqlServer" class="control-label"></label>
                        <input asp-for="SqlServer" class="form-control" />
                        <span asp-validation-for="SqlServer" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SqlPort" class="control-label"></label>
                        <input asp-for="SqlPort" class="form-control" />
                        <span asp-validation-for="SqlPort" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SqlDatabaze" class="control-label"></label>
                        <input asp-for="SqlDatabaze" class="form-control" />
                        <span asp-validation-for="SqlDatabaze" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SqlUser" class="control-label"></label>
                        <input asp-for="SqlUser" class="form-control" />
                        <span asp-validation-for="SqlUser" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SqlPass" class="control-label"></label>
                        <input asp-for="SqlPass" type="password" autocomplete="off" class="form-control" />
                        <span asp-validation-for="SqlPass" class="text-danger"></span>
                    </div>

                </form>
            </div>
        </div>
        <div>
            <button form="formInstall" type="submit" class="btn btn-accent btn-squared">OK</button>
        </div>

    </div>
</section>
<!-- End main content-->