﻿<div class="row">
    <div class="col-lg-12 mb-0">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon @Globals.AdminNavigation.Icon"></i>
            </div>
            <div class="header-title">
                <h3>@Globals.AdminNavigation.Title</h3>
                <small>
                    @Globals.AdminNavigation.SubTitle
                </small>
            </div>
        </div>
    </div>
</div>