﻿<div class="row">
    <div class="col-lg-12">
        <div class="view-header mb-0">
            @* <div class="pull-right text-right" style="line-height: 14px">
                <small>@Globals.AdminNavigation.Area<br>@Globals.AdminNavigation.Group<br> <span class="c-white">@Globals.AdminNavigation.SubTitle</span></small>
            </div> *@
            <div class="header-icon">
                <i class="pe page-header-icon @Globals.AdminNavigation.Icon"></i>
            </div>
            <div class="header-title">
                <h3>@Globals.AdminNavigation.Title</h3>
                <small>
                    @Globals.AdminNavigation.SubTitle
                </small>
            </div>
        </div>
        <hr class="my-2">
    </div>
</div>