﻿<!-- Main content-->
<section class="content">
    <div class="container-center md animated slideInDown">

        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-close-circle"></i>
            </div>
            <div class="header-title">
                <h3>Položka nenalezena</h3>
                <small>
                    Data odstraněna
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                Je nám líto, Vámi požadovaná položka nebyla nalezena.
            </div>
        </div>
        <div>
            <a href="/admin" class="btn btn-accent">Zpět do administrace</a>
            <a href="/admin" class="btn btn-default">Odeslat žádost</a>
        </div>

    </div>
</section>
<!-- End main content-->