﻿@model List<BasicItemViewModel>
    @foreach (BasicItemViewModel item in Model)
    {
        if (@item.Pages == 0)
        {
            <li>
                <a class="nav-link"
                   data-toggle="tab" href="#tab-editPage"
                   data-url="@item.Url">
                    @item.Text
                </a>
            </li>
        }
        else
        {
            <li data-expanded="collapse">
                <a class="nav-link"
                   data-toggle="tab" href="#tab-editPage"
                   data-url="@item.Url"
                   data-subitems="@item.Pages" 
                >
                    @item.Text
                    <span class="sub-nav-icon rot-90"> <i class="stroke-arrow"></i> </span>
                </a>
                  <ul id="subitems" class="subitems-list"></ul>
            </li>
        }
    }