﻿@model PageViewModel

<div data-script="homePage" data-pageid="@(Model.PageId)"></div>

<div class="btn-group edit-btns">
    <button class="btn btn-light btn-squared" type="button" data-action="save" data-alowed="@(User.IsInRole("pages_homepage"))">
        <span class="pe-7s-diskette mr-1"></span>Uložit
    </button>
</div>

<div class="row">
    <div class="col-12 col-md-2 items-list pt-1">
        <ul class="nav nav-tabs d-block">
            <li id="tabLayout"><a class="nav-link active" data-toggle="tab" href="#tab-1" aria-expanded="true">Vlastnosti a seo</a></li>
            <li id="tabSeo"><a class="nav-link" data-toggle="tab" href="#tab-2" aria-expanded="false">Rozložení a vzhled</a></li>
            <li>
                <a href="#hpsections" data-toggle="collapse" aria-expanded="false" class="sub-tab">
                    Obsah stránky
                    <span class="sub-nav-icon rot-90"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="hpsections" class="collapse nav nav-tabs">
                    @foreach (ContentSectionModel item in Model.ContentSections)
                    {
                        if (item.Id != 0)
                        {
                        <li><a class="nav-link sub-link" data-toggle="tab" href="#tab-section-@item.Id" aria-expanded="false">@item.Name</a></li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-12 col-md-10 item-content pr-2 pt-1">
        <div class="tabs-container">
            
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <form id="hpPropertiesForm" action="/admin/homepage/properities">
                            <partial name="Properities" for="@Model" />
                        </form>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body pt-2">
                        <form id="hpSectionsForm" action="/admin/homepage/sections">
                            <partial name="Sections" for="@Model" />
                        </form>
                    </div>
                </div>

                @foreach (ContentSectionModel item in Model.ContentSections)
                {
                    if (item.Id != 0)
                    {
                        <div id="tab-section-@item.Id" class="tab-pane">
                            <div class="panel-body">
                                
                                @{await Html.RenderPartialAsync("~/Areas/Sections/Views/" + item.Type + "/Edit.cshtml", Globals.AvalibleSections.First(s => s.Type == item.Type).Get(item));}
                            </div>
                        </div>
                    }
                }

            </div>
            
        </div>
    </div>
</div>

