﻿@model PageViewModel

<div class="col-md-12 container-fluid">
    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Keywords"></label>
        <input asp-for="Keywords" class="form-control" />
        <small class="text-muted">Doporučují se 4 slova oddělené čárkou.</small><br />
        <span asp-validation-for="Keywords" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <small class="text-muted">Doporučuje se delka popisu 155 znaků.</small><br />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <input class="js-switch" asp-for="Robots" /> @Html.DisplayNameFor(model => model.Robots)
            <br /><small class="text-muted">Povoluje indexačním robotů jako GoogleBot, SeznamBot atd. procházet a indexovat tuto stránku.</small>
        </div>

        <div class="form-group">
            
        </div>
    </div>
</div>