﻿@model PageViewModel

<div class="row pt-3">
    <div class="col col-md-9 individual-layout">
        <div class="dd-list">
            @for (int i = 0; i < Model.ContentSections.Count; i++)
            {
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                            <a class="item-delete"><i class="fa fa-times"></i></a>
                        </div>
                        @Model.ContentSections[i].Name
                    </div>
                    <div class="panel-body" style="display:none;">
                        <div class="row">
                            <div class="col col-md-6 form-group mb-3">
                                <label>Název sekce</label>
                                <input asp-for="@Model.ContentSections[i].Name" class="form-control" />
                                <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                            </div>
                        </div>
                        <input type="text" asp-for="ContentSections[i].Type" />
                        <input type="text" asp-for="ContentSections[i].Order" class="order" />
                        @if (Model.ContentSections[i].Id != 0)
                        {
                            <input type="text" asp-for="ContentSections[i].Id" />
                            <input type="text" asp-for="ContentSections[i].IdSekce" />
                            <input type="text" asp-for="ContentSections[i].Locked" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-group col-md-3 avalible-sections-wrap">
        <div class="panel mb-0">
            <div class="panel-body bg-none avalible-sections mb-0 p-0">
                @foreach (Data.Section sectionItem in Globals.AvalibleSections)
                {
                    <div id="pageSection_@sectionItem.Type" data-id="@sectionItem.Type" class="panel panel-filled">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="panel-toggle"><i class="fa fa-chevron-down"></i></a>
                            </div>
                            @sectionItem.Name
                        </div>
                        <div class="panel-body" style="display:none;">
                            @sectionItem.Description
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>