﻿@model EventViewModel
<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">

    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tab-cGProperities" aria-expanded="true">Vlastnosti a SEO</a></li>

        @for (int i = 0; i < Model.ContentSections.Count; i++)
        {
            ContentSectionModel item = Model.ContentSections[i];

            if (!item.Locked)
            {
                <li><a class="nav-link" data-toggle="tab" href="#tab-cGsection-@i" aria-expanded="false">@item.Name</a></li>
            }
        }

        @if (Model.Template == 0)
        {
            <li><a class="nav-link" data-toggle="tab" href="#tab-cGSections" aria-expanded="false">Rozložení</a></li>
        }

    </ul>
    <div class="tab-content">
        <div id="tab-cGProperities" class="tab-pane active">
            <div class="panel-body">
                <form id="createProperties" action="/admin/events/create" class="tabs-container mt-3">
                    <partial name="Partials/Properities" for="@Model" />
                </form>
            </div>
        </div>

        <div id="tab-cGSections" class="tab-pane">
            <div class="panel-body">
                <form id="createSections" action="/admin/events/sections" class="tabs-container mt-3">
                    <partial name="Partials/Sections" for="@Model" />
                </form>
            </div>
        </div>

        @for (int i = 0; i < Model.ContentSections.Count; i++)
        {
            ContentSectionModel item = Model.ContentSections[i];

            if (!item.Locked || (item.Locked && item.Required))
            {
                <div id="tab-cGsection-@i" class="tab-pane section-tab">
                    <div class="panel-body vh-64">
                        @{await Html.RenderPartialAsync("~/Areas/Sections/Views/" + item.Type + "/Create.cshtml", Globals.AvalibleSections.First(s => s.Type == item.Type).Get(item));}
                    </div>
                </div>
            }
        }

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
</div>