﻿@model EventViewModel
<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">

    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tab-eEProperities" aria-expanded="true">Vlastnosti a SEO</a></li>

        @foreach (ContentSectionModel item in Model.ContentSections)
        {
            if (!item.Locked && item.Id != 0)
            {
                <li><a class="nav-link" data-toggle="tab" href="#tab-eEsection-@item.Id" aria-expanded="false">@item.Name</a></li>
            }
        }

        @if (Model.Template == 0)
        {
            <li><a class="nav-link" data-toggle="tab" href="#tab-eESections" aria-expanded="false">Rozložení</a></li>
        }

    </ul>
    <div class="tab-content">
        <div id="tab-eEProperities" class="tab-pane active">
            <div class="panel-body">
                <form id="editEventProperties" action="/admin/events/edit/@Model.PageId" class="tabs-container mt-3">
                    <partial name="Partials/Properities" for="@Model" />
                </form>
            </div>
        </div>

        <div id="tab-eESections" class="tab-pane">
            <div class="panel-body">
                <form id="editSections" action="/admin/events/sections/@Model.PageId" class="tabs-container mt-3">
                    <partial name="Partials/Sections" for="@Model" />
                </form>
            </div>
        </div>

        @foreach (ContentSectionModel item in Model.ContentSections)
        {
            <div id="tab-eEsection-@item.Id" class="tab-pane section-tab">
                <div class="panel-body vh-64">
                    @{await Html.RenderPartialAsync("~/Areas/Sections/Views/" + item.Type+"/Edit.cshtml", Globals.AvalibleSections.First(s => s.Type == item.Type).Get(item));}
                </div>
            </div>
        }

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="save" class="btn btn-accent btn-squared">Uložit</button>
    <button type="button" data-action="saveandclose" class="btn btn-default btn-squared">Uložit a zavřít</button>
</div>