﻿@model EventViewModel

<div data-pageid="@Model.PageId"></div>

<div class="tabs-container mt-0">
    <ul class="nav nav-tabs">

        <li><a class="nav-link" data-toggle="tab" href="#tab-eGProperities" aria-expanded="false">Vlastnosti a SEO</a></li>
        <li><a class="nav-link active" data-toggle="tab" href="#tab-eGEvents" aria-expanded="true">Události</a></li>

        @foreach (ContentSectionModel item in Model.ContentSections)
        {
            if (!item.Locked && item.Id != 0)
            {
                <li><a class="nav-link" data-toggle="tab" href="#tab-eGsection-@item.Id" aria-expanded="false">@item.Name</a></li>
            }
        }

        <li><a class="nav-link" data-toggle="tab" href="#tab-eGSections" aria-expanded="false">Rozložení</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-eGProperities" class="tab-pane">
            <div class="panel-body vh-64">
                <form id="editProperties" action="/admin/events/edit/@Model.PageId">
                    <partial name="Partials/Properities" for="@Model" />
                </form>
            </div>
        </div>

        <div id="tab-eGEvents" class="tab-pane active">
            <div class="panel-body vh-64 events-list">
                <partial name="Partials/EventsList" for="@Model.Events" />
            </div>
        </div>

        @foreach (ContentSectionModel item in Model.ContentSections)
        {
            if (!item.Locked && item.Id != 0)
            {
                <div id="tab-eGsection-@item.Id" class="tab-pane">
                    <div class="panel-body vh-64">
                        @{await Html.RenderPartialAsync("~/Areas/Sections/Views/" + item.Type + "/Edit.cshtml", Globals.AvalibleSections.First(s => s.Type == item.Type).Get(item));}
                    </div>
                </div>
            }
        }

        <div id="tab-eGSections" class="tab-pane">
            <div class="panel-body vh-64">
                <form class="submit-type-second" action="/admin/events/sections/@Model.PageId">
                    <partial name="Partials/Sections" for="@Model" />
                </form>
            </div>
        </div>
    </div>
</div>

