﻿@model ImagesViewModel

<div data-script="images"></div>

<form id="imagesForm-@Model.IdImages" action="/admin/sections/images/edit/@Model.IdImages">

    <div class="row">
        <div class="col col-md-10 form-group mb-3">
            <label asp-for="ShowAs"></label>
            <select asp-for="ShowAs" asp-items="@(new SelectList(Globals.SectionShowAsItems.Where(s => s.Section == Model.Type).ToList(),"Value","Text"))" class="select form-control" style="width: 100%"></select>
        </div>
        <div class="col-md-2 form-group mb-3">
            <button class="btn btn-default btn-squared" type="button" data-action="addImage" data-url="/admin/managers/images/@Model.FolderId">Přidat obrázek</button>
        </div>
    </div>

    <hr />
    <div class="images-container">

        <div class="dd-list">
            @for (int i = 0; i < Model.Images.Count; i++)
            {
                string src = Globals.Folders.WebImages + Model.Images[i].FileName + "_Thumb" + Model.Images[i].Extension;
                <div class="panel panel-filled mb-0">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="item-delete"><i class="fa fa-times"></i></a>
                        </div>
                        @Model.Images[i].Title
                    </div>
                    <div class="panel-body mb-0" style="padding:0">
                        <img src="@src" alt="@Model.Images[i].FileName" style="margin:0 5px" />
                        <input type="hidden" asp-for="Images[i].Image" />
                        <input type="hidden" asp-for="Images[i].Order" class="order" />
                    </div>
                </div>
            }
        </div>
    </div>
</form>