﻿button:focus {
    outline: none !important;
}

mt-auto {
    margin-top: auto !important;
}

.btn-light:focus, .btn-light.focus {
    box-shadow: none !important;
}

button:active {
    background-color: #24262d !important;
}

.c-danger {
    color: #dc3545;
}

.c-success {
    color: #28a745;
}


.pr-35 {
    padding-right: 35px;
}

/*****
forms
*****/

.form-control {
    border-radius: 0;
}

.form-control.active {
    border: 1px solid #f6a821;
}

.help-icon {
    cursor: pointer;
    position: absolute;
    margin-top: 4px;
}


.transition {
    transition: all .3s;
}

/* modals */

.modal.show {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
}

.modal-content {
    height: 100%;
}

.modal-content .modal-body {
    height: 650px;
    overflow: auto;
    padding: 15px 30px 0 30px;
}

#warrningModal {
    z-index: 1051;
}

#warrningModal .modal-content .modal-body {
    height: auto;
    padding: 0 10px;
}

#warrningModal .modal-content .modal-body p {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-size: 16px;
}

#warrningModal .modal-sm {
    max-width: none;
    width: 450px;
}

#warrningModal .message .pe-7s-close-circle {
    font-size: 4rem;
    margin-right: 1rem;
}

#denied .modal-lg .container-center {
    margin-top: 0;
}

#denied .modal-lg {
    height: auto;
    width: auto;
}

#denied .modal-content .modal-body {
    height: auto;
    padding: 50px 20px;
}

#mainContainer {
    position: relative;
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: none;
        width: 80vw;
        height: 88vh;
    }
}

.nav-item.profil-link a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preload-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(47, 50, 59, .5);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.loader-bar {
    font-size: 12px;
}

#pagesEdit .page-list .panel {
    height: 75vh;
}

#pagesEdit .page-list .panel-body {
    padding-left: 1px;
}

#pagesEdit .page-list .nav.nav-tabs li {
    width: 100%;
}

.page-content {
    padding-right: 0;
}

.page-content hr {
    margin-right: -5px;
}

hr {
    margin: 10px 0;
}

.hr-lighter {
    border-top-color: #56595d;
}

section.content {
    padding: 30px 20px;
}

.view-header {
    padding: 0;
}

.vh-64 {
    min-height: 64vh;
}

/* .modal-content {
    height: auto;
} */

.note-editor, .note-editing-area, .note-editable {
    min-height: calc(100% + 15px);
}

#msgReply .note-editor,
#msgResend .note-editor {
    max-height: 350px;
}

/* #customSectionsList {
    display: none;
} */

.panel-body {
    position: relative;
}

.note-toolbar-wrapper {
    height: 39px !important;
    position: relative;
}

#pageContent .note-editable {
    height: 520px !important;
}

#pageContent .note-resizebar, .note-statusbar {
    display: none;
}

#pageContent .unSave {
    color: #ffffff;
    background-color: rgba(247, 175, 62, 0.1);
    border-color: #f7af3e;
}

#companyPage .tabs-left>.nav-tabs {
    float: none;
    width: 15%;
}

#companyPage .tabs-left .panel-body {
    margin-left: 0;
    width: 100%;
    min-height: 520px;
}

#companyPage .tabs-left {
    display: flex;
}

#companyPage .tabs-left .tab-content {
    width: 100%;
}

.nav-tabs.d-block .nav-link.active {
    background-color: rgba(68, 70, 79, 0.5);
    border: none;
    border-radius: 0;
    border-left: 3px solid #f6a821 !important;
}

#btnSaveConfigurations .pe-7s-diskette, 
button[data-action="save"] .pe-7s-diskette,
button[data-action="create"] .pe-7s-plus,
button[data-action="delete"] .pe-7s-trash {
    font-size: 1.15rem;
    position: relative;
    top: 3px;
    z-index: -1;
}

.bg-none {
    background: none !important;
}

.h-95 {
    height: 100%;
}

.note-editor.note-frame ::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 6px;
}

.note-editor.note-frame ::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(68, 70, 79, 0.8);
    border-radius: 10px;
}

.note-editor.note-frame ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    /* background: #f6a821; */
    background: #949ba2;
    border-radius: 10px;
    cursor: default;
}

.edit-btns {
    position: absolute;
    top: -55px;
    right: 0;
}

.item-content .tab-content .panel-body {
    min-height: 650px;
}

.item-content .tab-content .panel-body .panel-body, #tabAutorizations .panel-body {
    min-height: 0;
}

.items-list .panel-body {
    padding-right: 21px;
}

.item-content .v-timeline {
    margin-top: 2.4em;
}

.access-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: right;
    justify-content: center;
}

.access-box .form-group {
    width: 100%;
    padding-left: 20%;
}

@media only screen and (max-width: 1600px) {
    #tabAutorizations .access-box .form-group:nth-child(odd) {
        padding-left: 0;
    }
    #tabAutorizations .access-box .form-group:nth-child(even) {
        padding-right: 0;
    }
}

.role {
    display: flex;
}

.access-box .form-group:nth-child(even) .role {
    justify-content: right;
}

.role .switchery-small {
    right: 6px;
    top: -2px;
}

.vertical-timeline-icon i {
    top: 55%;
}

.panel.no-bg .panel-body {
    background: transparent;
    padding: 24px 0 15px 0;
}

.panel.no-bg .panel-heading {
    background-color: rgba(68, 70, 79, 0.5);
}

.group-title {
    margin-bottom: 20px;
}

.panel.no-bg .panel-border {
    border: 1px solid rgb(61, 64, 76);
}

.panel.no-bg .panel-border hr {
    width: 80%;
    margin: 2rem 10%;
}

.panel.no-bg .panel-border small {
    padding-left: 10%;
}

#userGroups .groups {
    display: flex;
    flex-wrap: wrap;
}

#userGroups .groups .form-group {
    min-width: 25%;
}

.logout {
    margin-left: 10px
}

.logout a {
    padding-top: 3px;
}

.logout .c-danger {
    font-size: 24px;
}

.sliderContainer {
    width: 100%;
    height: 30px;
    padding: 20px 12px;
    padding-right: 0;
    background-color: #494b54;
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.sliderContainer p {
    margin: 0 auto;
    font-size: 15px;
}

.sliderContainer input[type="range"] {
    -webkit-appearance: none !important;
    width: 95%;
    height: 2px;
    background-color: #fff;
    border: none;
    outline: none;
}

.sliderContainer input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 18px;
    height: 18px;
    background: #f6a821;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.sliderContainer input[type="range"]::-webkit-slider-thumb:hover {
    /* background-color: #f6a821;
    border: 1px solid #fff; */
}

.dd-nested-list {
    padding: 5px 15px;
    list-style: none;
}

.dd-nested-list.dd-nested-container {
    padding: 20px;
    padding-top: 0;
    min-height: 650px;
    background-color: transparent !important;
}

.dd-nested-item {
    position: relative;
}

.dd-nested-item .dd-nested-list {
    margin-top: 5px;
    width: 100%;
    padding: 0;
    padding-left: 30px;
}

.item-delete {
    float: right;
    cursor: pointer;
    padding: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}

.panel-tools .item-delete {
    padding: 0;
    padding-left: 5px;
}

.dd-handle {
    position: relative;
    z-index: 1;
}

.removed {
    display: none;
}

.dd-handle::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    background-color: rgb(50, 52, 61);
}

.dotted .dd-handle::before {
    border: 1px dotted #949ba2;
    width: 100%;
    height: 100%;
}

.dd-item button {
    display: none;
}

.nav.nav-tabs {
    overflow: hidden;
}

.transition-1 {
    transition: all .6s ease-in-out;
}

.individual-layout {
    position: relative;
    overflow: hidden;
}

.individual-layout .panel:last-child, .avalible-sections-wrap .panel .panel:last-child {
    margin-bottom: 0;
}

.avalible-sections-wrap {
    border-left: 3px solid #f6a821;
    margin-bottom: 0;
    opacity: 1;
}

.hide-sections {
    opacity: 0;
    position: relative;
    z-index: -99;
}

.rot-90 {
    transform: rotate(90deg);
    display: inline-block;
    margin-bottom: 10px;
}

#hpsections {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-bottom: 0;
    list-style: none;
}

#hpsections .nav-link.active {
    border-color: #c37e08 !important;
}

#hpsections a {
    color: #949ba2;
}

.sub-tab {
    display: block;
    padding: 8px 16px;
    color: #949ba2;
}

.sub-tab[aria-expanded="true"] {
    color: #c0c4c8;
}

.sub-tab span {
    float: right;
}

.sub-tab.active, .sub-tab.active:hover {
    border-left: 3px solid #f6a821 !important;
    color: #fff;
}

.sub-link {
    padding-left: 30px;
}

.subitems-list .subitems-list .nav-link {
    padding-left: 50px;
}

.subitems-list .subitems-list .subitems-list .nav-link {
    padding-left: 70px;
}

.nav-link .sub-nav-icon {
    float: right;
}

.nav-tabs .nav-link, .nav-tabs .nav-link:hover {
    border-left: 3px solid transparent !important;
}

.subitems-list {
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: max-height .5s;
}

.subitems-list.expanded {
    height: auto;
    max-height: 600px;
    /* transition: max-height .5s; */
}

.nav-tabs .nav-link.subitem-active {
    color: #fff !important;
    /* border-left: 3px solid #f6a821 !important; */
}

/* .nav-tabs li[data-expanded="collapse"] a[data-subitems] {
    color: #949ba2;
} */

/* .nav-tabs li[data-expanded="expanded"] a[data-subitems]{
    color: #c0c4c8;
}
.nav-tabs li[data-expanded="collapse"] a[data-subitems] {
    color: #949b94;
} */

.subitems-list .nav-link {
    color: #949b94;
    padding-left: 30px;
}

.nav-tabs.d-block .subitems-list .active {
    color: #fff;
    /* border-left: 3px solid #c37e08 !important; */
}

/* sidebar pro vkládání obsahus */

.content .container-fluid {
    width: 100%;
    transition: all 300ms ease;
    margin-left: 0;
}

.open {
    width: calc(100% - 260px) !important;
}

.sidebar {
    width: 260px;
    background-color: #f6a821;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 3.8rem;
    transition: width 300ms ease;
    z-index: 999;
    overflow: auto;
}

.sidebar--hide {
    width: 0px;
}

.sidebar__inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.sidebar .sidebar__inner {
    display: block;
}

.sidebar--hide .sidebar__inner {
    display: none;
}

.sidebar__title {
    display: flex;
    align-items: center;
    background-color: #2d3038;
    padding: .5rem 0.5rem;
}

.sidebar__icon {
    font-size: 2rem;
    color: #f6a821;
    margin-right: 1rem;
}

.sidebar__close {
    color: #fff;
    position: absolute;
    right: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.sidebar__content {
    height: 100%;
}

/* accordion */

.accordion {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card {
    background-color: inherit;
    margin-top: 0;
    transition: all 1s;
}

.card.active {
    flex-grow: 1;
}

.slide-down {
    margin-top: 210%;
}

.card-header {
    padding: 0;
    background-color: rgba(68, 70, 79, 1);
}

.card-header .btn-link:hover, .card-header .btn-link:focus, .card-header .btn-link:active {
    color: #fff !important;
}

.card-header .btn-link:active {
    background-color: inherit !important;
}

.card-body .nav-link {
    color: #fff;
}

.card-body img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px;
}

@keyframes slideDown {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 200%;
    }
    ;
}

/* drag and drop */

.dd {
    height: 100%;
}

.dd-list {
    height: 100%;
}

.dd-list .panel-heading, .avalible-sections .panel-heading,
.dd-handle, .dd-handle:hover {
    cursor: move !important;
}

.dd-placeholder-none {
    opacity: 0;
}

.dd-ghost {
    width: 100%;
    position: absolute;
    top: -1000px;
    z-index: -9;
  }

.dd-dragging {
    opacity: .5;
}

.dd-placeholder + *,
.dd-placeholder + * + *
{
  display: none !important;
}

.row .dd-placeholder {
    width: 100% !important;
}

.dd-content {
    position: relative;
}

.dd-item {
    margin-bottom: 1rem;
}

.dd-item .form-group{
    padding: 5px;
    cursor: move;
}
/* .dd-item .form-group * {
    cursor: move;
} */

#formBody .dd-list {
    min-height: 500px;
    padding-bottom: 2rem;
}


/* multiselect */

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid transparent;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    padding: 0.375rem 0.75rem;
    max-height: 38px;
    /* padding-bottom: 0.15rem; */
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: 2px;
}

.select2-search__field {
    color: #949ba2;
    width: 200px !important;
    margin-top: 3px !important;
}

.select2-search__field::placeholder {
    color: #949ba2;
}

/* kontejner s obrázky */

.images-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.images-container .dd-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.images-container .panel {
    border: 1px solid transparent;
}

.images-container .panel-body {
    padding: 9px;
}

.images-container .panel-heading {
    max-height: 32px;
    max-width: 220px;
    overflow: hidden;
}

.images-container img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.images-container img.inserted {
    transform: scale(0);
    animation: growUp ease forwards 300ms;
}

@keyframes growUp {
    0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

/* content manager */

img.clicked {
    animation: clicked 200ms ease forwards;
}

.panel.choosen{
    border-color:#f6a821;
}


@keyframes clicked {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.9)
    }
    100% {
        transform: scale(1)
    }
}


/* upload button */
button[data-action="upload"] {
    position: relative;
    margin-right: auto !important;
}
button[data-action="upload"] form {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
}
button[data-action="upload"] form input {
    width: 100%;
    cursor: inherit;
}


/*
 ----- web messges-----
*/

/*messages list */

.messages-list {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.message {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.created-date {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.email {
    width: 100%;
}

.message {
    padding: 10px;
    border-bottom: 1px solid #3d404c;
    position: relative;
    z-index: 1;
}

.message .item-delete {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 0;
    padding-right: 3;
    color: #949ba2 !important;
}

.message:hover .item-delete:hover {
    color: #f6a821 !important;
}

.message:hover .item-delete {
    visibility: visible;
}

.message:first-child {
    border-top: 1px solid #3d404c;
}

.messages-filters {
    padding: 10px 0;
    /* padding-top: 10px; */
}

.message, .message > * {
    cursor: pointer;
}

.message.active {
    background-color: rgba(68, 70, 79, 0.5);
    border-left: 3px solid #f6a821; 
}

@media screen and (max-width: 1500px) {
    .created-date {
        margin-left: 0;
        margin-top: 5px;
    }
}

/*message body */

#messageBody {
    /* border-left: 3px solid #f6a821; */
    
    padding-left: 30px;
    padding-top: 10px;
}

.dd-list label {
    cursor: pointer;
}

.field-settings {
    margin: 10px 0 0;
}

.field-settings .btn-xs {
    margin-top: 5px;
}

.field-settings label {
    margin: 5px 0;
}
.field-settings input {
    margin: 3px 0
}

.field-settings .form-control {
    height: 1.8rem;
}

.field-settings .d-flex {
    align-items: center;
    gap: 3px;
}

.field-settings .pe-7s-plus {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    margin: 5px 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.field-settings .pe-7s-plus:hover {
    color: #f6a821;
}

.field-settings .fa-times {
    cursor: pointer;
}
.field-settings .fa-times:hover {
    color: #fff;
}

#createInquryForm .accordion{
    height: 70vh;
}


/* Carousel */

.carousel-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: transparent;
    border: 1px dashed #535868;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

button.no-border {
    border: none;
    position: relative;
    z-index: 1;
}
button.no-border:hover,
button.no-border:focus,
button.no-border:active {
    background-color: transparent !important;
}

button.no-border span{
    font-size: 3rem;
    position: relative;
    z-index: -1;
}