﻿@model PageViewModel

<div class="row">

    <div class="col-12 pl-2">
        <div class="form-group mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control name" />
            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mb-3 hard-url" style="display:none">
            <label asp-for="Url"></label>
            <input asp-for="Url" class="form-control" />
            <small class="text-muted">Nesmmí obsahovat diakritiku, speciální znaky a mezery. </small>
            <i class="c-accent help-icon pe-7s-info" data-modalId="helpModal" data-url="/admin/help-modal/pages/hardurl"></i><br />
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-6 form-group mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="col-md-6 form-group mb-3">
        <label asp-for="Keywords"></label>
        <input asp-for="Keywords" class="form-control" />
        <small class="text-muted">Doporučují se 4 slova oddělené čárkou.</small><br />
        <span asp-validation-for="Keywords" class="text-danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <small class="text-muted">Doporučuje se delka popisu 155 znaků.</small><br />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 form-group mb-3">
        <label>Skupina stránek</label>
        <select asp-for="LayoutId" asp-items="@(new SelectList(Model.Layouts,"Id","Name"))" class="select form-control" style="width: 100%"></select>
    </div>
    <div class="col-md-3 form-group mb-3">
        <label asp-for="ShowInMenu"></label>
        <select asp-for="ShowInMenu" asp-items="@(new SelectList(Model.Layouts,"Id","Name"))" class="select2 form-control select2-hidden-accessible" multiple="" aria-hidden="true" style="width: 100%"></select>
    </div>
    <div class="col-md-3 form-group mb-3">
        <label asp-for="PopUpId"></label>
        <select asp-for="PopUpId" asp-items="@(new SelectList(Model.PopUps,"Id","Name"))" class="select form-control" style="width: 100%"></select>
    </div>
    <div class="col-md-3 form-group mb-3">
        <label asp-for="Priority"></label>
        <div class="sliderContainer">
            <input type="range" min="1" max="10" class="slider" asp-for="Priority" id="priorityEdit" oninput="rangeValue.innerText = this.value" />
            <p id="rangeValue">@Model.Priority</p>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 form-group mb-3">
        <input class="js-switch" asp-for="Robots" /> @Html.DisplayNameFor(model => model.Robots)
        <br /><small class="text-muted"> Povoluje indexačním robotů procházet a indexovat obsah stránky.</small>
    </div>
    <div class="col-md-4 form-group mb-3">
        <input class="js-switch hard-url" asp-for="HardUrl" /> @Html.DisplayNameFor(model => model.HardUrl)
        <br /><small class="text-muted">Zakazuje aktualizovat URL adresu při změně názvu stránky.</small>
    </div>
    <div class="col-md-4 form-group mb-3">
        <input class="js-switch" asp-for="ShowName" /> @Html.DisplayNameFor(model => model.ShowName)
        <br /><small class="text-muted">Povoluje zobrazit nadpis na stránce.</small>
    </div>
</div>