﻿@model PageViewModel

<div class="row">

    <div class="col-12 pl-2">
        <div class="form-group mb-3">
            <label>Zveřejnit okamžitě</label>

            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 pl-2">
        <div class="form-group mb-3">
            <label>Zveřejnit Od</label>

            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 pl-2">
        <div class="form-group mb-3">
            <label>Zveřejnit Neomezeně</label>

            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 pl-2">
        <div class="form-group mb-3">
            <label>Zveřejnit Do</label>

            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
        </div>
    </div>
</div>