﻿<p>
    Jedná se o interaktivní formát který Vám umožní vložit jeden a vice prezenčních bloků do jedné sekce. Tyto bloky (slajdy) se mohou automaticky měnit po nastaveném časovém intervalu nebo po kliknutí na ikonku  zobrazení dalšího slajdu.
</p>
<hr />
<p>
    Tlačítkem <button class="btn btn-xs btn-squared btn-light">Přidat položku</button> vložíte nový prázdný slajd.  Jednotlivé slajdy se řadí pomocí funkce chyť a pusť (Drag &amp; Drop) přetažením  na požadovanou pozici směrem nahoru nebo dolů.<br />
    Přidání, upravení a odebrání slajdů se projeví až při  uložení celé stránky.
</p>
<p>
    Možnosti Carouselu:
</p>
<ul>
    <li>Automatická smyčka - <small class="text-muted">Zapíná a vypína automatickou změnu položek.</small></li>
    <li>Doba zobrazení položky - <small class="text-muted">Doba zobrazení jednoho slajdu, uvádí se ve vteřinách.</small></li>
</ul>
<p>
    Do jednotlivých slajdů lze vložit:
</p>
<ul>
    <li>Obrázek</li>
    <li>Nadpis</li>
    <li>Vlastní text</li>
    <li>Odkaz</li>
</ul>
<p>
    Jednotlivé položky slajdu nemusí byt vyplněny všechny. Položky, které se nemají na stránce zobrazovat ponechejte  prázdné.
</p>
<hr />
<p>
    Příklad použití:<br />
    Carousel se často používá pro zobrazení reklamy či obrázků.
</p>