﻿@model List<SitemapModel>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    @foreach (SitemapModel item in Model)
    {
    <url>
        <loc>@Globals.WebConfig.Domain@item.Url</loc>
        <lastmod>@item.LastChange.</lastmod>
        <priority>@item.Priority</priority>
    </url>
    }
</urlset>