﻿@model PopUpViewModel


<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">

    <form id="formCreatePopUp" action="/admin/pages/settings/popup/create" class="tabs-container mt-3">
        <ul class="nav nav-tabs">
            <li><a class="nav-link active" data-toggle="tab" href="#tab-properityes" aria-expanded="true">Vlastnosti</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-properityes" class="tab-pane active">
                <div class="panel-body">
                    <div class="form-group mb-3">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <small class="text-muted">Doporučuje se delka popisu 8-20 znaků.</small><br />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Text"></label>
                        <textarea asp-for="Text" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Link"></label>
                        <input asp-for="Link" class="form-control" />
                        <small class="text-muted">Zadejte úplnou adresu stránky která se má otevřít po kliknutí na PopUp okno.</small><br />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-4 form-group">
                            <input class="js-switch" asp-for="ShowOnAllPages" /> @Html.DisplayNameFor(model => model.ShowOnAllPages)
                        </div>

                        <div class="col-md-4 form-group">
                            <input class="js-switch" asp-for="ShowOnHomePage" /> @Html.DisplayNameFor(model => model.ShowOnHomePage)
                        </div>

                        <div class="col-md-4 form-group">
                            <input class="js-switch" asp-for="ShowAlways" /> @Html.DisplayNameFor(model => model.ShowAlways)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
</div>