﻿@model PopUpViewModel

<form id="formPopUpEdit" action="/admin/pages/settings/popup/edit/@Model.IdPopUp" class="tabs-container mt-1">
    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tab-1" aria-expanded="true">Vlastnosti</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tab-2" aria-expanded="false">Obsah</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tab-3" aria-expanded="false">Použito na stránkách</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <div class="form-group mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="js-switch" asp-for="ShowOnAllPages" /> @Html.DisplayNameFor(model => model.ShowOnAllPages)
                </div>
                <div class="form-group">
                    <input class="js-switch" asp-for="ShowOnHomePage" /> @Html.DisplayNameFor(model => model.ShowOnHomePage)
                </div>
                <div class="form-group">
                    <input class="js-switch" asp-for="ShowAlways" /> @Html.DisplayNameFor(model => model.ShowAlways)
                </div>
            </div>
        </div>

        <div id="tab-2" class="tab-pane">
            <div class="panel-body">

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <small class="text-muted">Doporučuje se delka popisu 8-20 znaků.</small><br />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Link"></label>
                    <input asp-for="Link" class="form-control" />
                    <small class="text-muted">Zadejte úplnou adresu stránky která se má otevřít po kliknutí na PopUp okno.</small><br />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div id="tab-3" class="tab-pane">
            <div class="panel-body">
                <table id="userHistoryTable" class="table table-striped table-hover table-responsive-sm data-table">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Název stránky </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.SelectedPages.Count; i++)
                        {
                            int num = i + 1;

                            <tr>
                                <td>@num</td>
                                <td>@Model.SelectedPages[i]</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>