﻿@model List<InquiryDataModel>

<div class="row">
    <div class="col col-3 messages-list">
        <ul class="messages-filters nav nav-tabs">
            <li>
                <a class="nav-link active" href="#messagesList" data-url="/admin/Inquiryes/list/all">Všechny</a>
            </li>
            <li>
                <a class="nav-link" href="#messagesList" data-url="/admin/Inquiryes/list/unreaded">Nepřečtené</a>
            </li>
        </ul>
        <div id="messagesList">
            <partial name="List" for="@Model" />
        </div>
    </div>
    <div class="col col-9" id="messageBody">
        @if (Model.Count != 0)
        {
            <partial name="Inquiry" for="@Model[0]" />
        }
        else
        {
            <div class="text-danger">Nemáte žádné přijaté poptávky</div>
        }
    </div>
</div>