﻿@model List<ContentGroupViewModel>

<div class="accordion" id="accordion">

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="card">
            <div class="card-header" id="heading_@i">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@i"
                        aria-expanded="true" aria-controls="collapseOne">
                        @Model[i].Name
                    </button>
                </h5>
            </div>

            <div id="collapse_@i" class="collapse" aria-labelledby="heading_@i" data-parent="#accordion">
                <div class="card-body">

                    <ul class="nav nav-tabs d-block dd-container">
                        @foreach (ContentItemViewModel item in Model[i].Items)
                        {
                            if (item.SubPages == 0)
                            {
                                <div class="dd-item">
                                    <li>
                                        <a class="nav-link" data-toggle="tab" href="#tab-editPage" data-url="@item.Link"
                                            data-id="@item.Id">
                                            @item.Name
                                        </a>
                                    </li>
                                </div>
                            }
                            else
                            {
                                <li data-expanded="collapse">
                                    <a class="nav-link" data-toggle="tab" href="#tab-editPage" data-url="@item.Link"
                                        data-subitems="@item.SubPages" data-id="@item.Id">
                                        @item.Name
                                        <span class="sub-nav-icon rot-90"> <i class="stroke-arrow"></i> </span>
                                    </a>
                                    <ul id="subitems" class="subitems-list">
                                    </ul>
                                </li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </div>
    }

</div>