﻿@model List<ContentItemViewModel>
@foreach (ContentItemViewModel item in Model)
{
    if (@item.SubPages == 0)
    {
        <li>
            <a class="nav-link"
               data-toggle="tab" href="#tab-editPage"
               data-id="@item.Id"
               data-url="@item.Link">
                @item.Name
            </a>
        </li>
    }
    else
    {
        <li data-expanded="collapse">
            <a class="nav-link"
               data-toggle="tab" href="#tab-editPage"
               data-id="@item.Id"
               data-url="@item.Link"
               data-subitems="@item.SubPages">
                @item.Name
                <span class="sub-nav-icon rot-90"> <i class="stroke-arrow"></i> </span>
            </a>
            <ul id="subitems" class="subitems-list"></ul>
        </li>
    }
}