﻿@model AdminUserViewModel

@{
    <div id="userGroups">
        <div style="margin-bottom:20px"><small class="text-muted pl-0">Dostupné skupiny</small></div>
        <div class="groups pl-2">
            @for (int g = 0; g < Model.Groups.Count; g++)
            {
            <div class="form-group mb-0">
                <input class="js-switch" asp-for="Groups[g].Member" /> @Model.Groups[g].Text
                <input type="hidden" asp-for="Groups[g].GroupId" />
                <input type="hidden" asp-for="Groups[g].Text" />
            </div>
            }
        </div>
    </div>
    <hr class="hr-lighter" style="margin: 20px auto;"/>
    for (int m = 0; m < Model.Autorizations.Count; m++)
    {
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="panel-toggle">
                        Povolit přístup
                        @if (Model.Autorizations[m].Allowed)
                        {
                            @if (Model.Autorizations[m].DisableChackbox)
                            {
                                <input class="js-switch" asp-for="Autorizations[m].Allowed" checked="checked" disabled="disabled" />
                            }
                            else
                            {
                                <input class="js-switch" asp-for="Autorizations[m].Allowed" checked="checked" />
                            }
                        }
                        else
                        {
                            <input class="js-switch" asp-for="Autorizations[m].Allowed" />
                        }
                        <input type="hidden" asp-for="Autorizations[m].Name" />
                    </a>
                </div>
                @Model.Autorizations[m].Text
            </div>

            <div class="panel-body pt-4">
                <div class="access-box">
                    @for (int r = 0; r < Model.Autorizations[m].Roles.Count; r++)
                    {
                        <div class="form-group mb-3">
                            <div class="role">

                                @if (Model.Autorizations[m].Roles[r].Allowed)
                                {
                                    @if (Model.Autorizations[m].Roles[r].DisableChackbox)
                                    {
                                        <input class="js-switch" asp-for="Autorizations[m].Roles[r].Allowed" disabled="disabled" checked="checked" />
                                    }
                                    else
                                    {
                                        <input class="js-switch" asp-for="Autorizations[m].Roles[r].Allowed" checked="checked" />
                                    }

                                }
                                else
                                {
                                    <input class="js-switch" asp-for="Autorizations[m].Roles[r].Allowed" />
                                }

                                <span>@Model.Autorizations[m].Roles[r].Text</span>
                                <input type="hidden" asp-for="Autorizations[m].Roles[r].Name" />
                            </div>
                        </div>
                    }
                </div>
                <hr class="hr-lighter" />
                <i class="c-accent help-icon pe-7s-info"></i>
                <small class="text-muted pl-3">@Model.Autorizations[m].Description</small>
            </div>
        </div>
    }
}