﻿@model List<UserLogModel>

<table id="userHistoryTable" class="table table-striped table-hover table-responsive-sm data-table">
    <thead>
        <tr>
            <th> </th>
            <th>Modul </th>
            <th>Popis</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var button = "fa-user";
            int num = i + 1;

            if (Model[i].Action == (int)AdminLoggerAction.Add) button = "fa-plus c-success";
            if (Model[i].Action == (int)AdminLoggerAction.Edit) button = "fa-edit c-accent";
            if (Model[i].Action == (int)AdminLoggerAction.Delete) button = "fa-remove c-danger";

            <tr>
                <td>@num</td>
                <td>@Model[i].Modul</td>
                <td><i class="fa @button"></i> @Model[i].Description</td>
                <td>@Model[i].Date</td>
            </tr>
        }
    </tbody>
</table>