﻿@model AdminUserViewModel

<div class="form-group">
    <label asp-for="Login" class="control-label"></label>
    <input asp-for="Login" class="form-control" />
    <small class="text-muted">Přihlašovací jméno nesmí obsahovat diakritiku a mezery</small><br />
    <span asp-validation-for="Login" class="text-danger"></span>

</div>
<div class="form-group">
    <label asp-for="UserPass" class="control-label"></label>
    <input asp-for="UserPass" class="form-control" />
    <small class="text-muted">Heslo by mělo obsahovat 8 znaku z toho minimálně: jedno velké písmeno a jednu číslici.</small><br />
    <span asp-validation-for="UserPass" class="text-danger"></span>


</div>
<div class="form-group">
    <label asp-for="UserPassConf" class="control-label"></label>
    <input asp-for="UserPassConf" class="form-control" />
    <small class="text-muted">Zadejte potvrzení hesla.</small><br />
    <span asp-validation-for="UserPassConf" class="text-danger"></span>
</div>

<div class="form-group">
    <input class="js-switch" asp-for="ChangePassword" /> @Html.DisplayNameFor(model => model.ChangePassword)
    <br /><small class="text-muted">Při přihlášení bude muset uživatel změnit své heslo.</small>
</div>

<div class="form-group">
    <input class="js-switch" asp-for="Locked" /> @Html.DisplayNameFor(model => model.Locked)
    <br /><small class="text-muted">Nepovolí uživateli přihlášení.</small>
</div>

