﻿@model AdminUserViewModel

<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UserPhone" class="control-label"></label>
    <input asp-for="UserPhone" class="form-control" />
    <small class="text-muted">Telefoní číslo není zveřejněno. Slouží pouze pro ostatní uživatele v administraci.</small>
</div>
<div class="form-group">
    <label asp-for="UserEmail" class="control-label"></label>
    <input asp-for="UserEmail" class="form-control" />
    <span asp-validation-for="UserEmail" class="text-danger"></span>
    <small class="text-muted">Email není zveřejněn. Slouží pouze pro ostatní uživatele v administraci.</small>
</div>