﻿@model AdminUserViewModel

    <form id="PersonalData" action="/admin/account">
        <div class="btn-group edit-btns">
            <button type="button" id="btnSaveConfigurations" class="btn btn-accent btn-squared" data-alowed="True">
                <span class="pe-7s-diskette mr-1"></span>Uložit
            </button>
        </div>

        <div class="row">
            <div class="col-12 col-md-2 items-list pt-1">
                <ul class="nav nav-tabs d-block">
                    <li id="tabCompany">
                        <a class="nav-link active" data-toggle="tab" href="#tab-1"
                           aria-expanded="true">Osobní údaje</a>
                    </li>
                    <li id="tabSocial">
                        <a class="nav-link" data-toggle="tab" href="#tab-2"
                           aria-expanded="false">Přihlašovací údaje</a>
                    </li>
                    <li id="tabPersons">
                        <a class="nav-link" data-toggle="tab" href="#tab-3"
                           aria-expanded="false">Historie</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-10 item-content pr-1 pt-1">
                <div class="container-fluid pl-0">
                    <div class="row">
                        <div class="col-8 p-0 m-0">
                            <div class="tabs-container">
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" data-toggle="tab" aria-expanded="true">Osobní údaje</a></li>
                                        </ul>
                                        <div class="panel-body ">
                                            @await Html.PartialAsync("Account/PersonalData", Model)
                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane ">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" data-toggle="tab" aria-expanded="true">Přihlašovací údaje</a></li>
                                        </ul>
                                        <div class="panel-body ">
                                            @await Html.PartialAsync("Account/Login", Model)
                                        </div>
                                    </div>
                                    <div id="tab-3" class="tab-pane">
                                        <ul class="nav nav-tabs">
                                            <li>
                                                <a class="nav-link active" data-toggle="tab" aria-expanded="true">Historie</a>
                                            </li>
                                        </ul>
                                        <div class="panel-body pt-2">
                                            @await Html.PartialAsync("Account/History", Model.HistoryData)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 pr-0">
                            <div class="v-timeline vertical-container">
                                @for (int i = 0; i < Model.HistoryData.Count; i++)
                                {
                                    if (i == 6) break;
                                    var button = "fa-user";

                                    if (Model.HistoryData[i].Action == (int)AdminLoggerAction.Add) button = "fa-plus";
                                    if (Model.HistoryData[i].Action == (int)AdminLoggerAction.Edit) button = "fa-edit";
                                    if (Model.HistoryData[i].Action == (int)AdminLoggerAction.Delete) button = "fa-remove";

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon">
                                            <i class="fa @button"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <div class="p-sm">
                                                <span class="vertical-date pull-right">
                                                    <small>@Model.HistoryData[i].Date.ToString("dd.MM.yyyy HH:mm")</small>
                                                </span>
                                                <h2>@Model.HistoryData[i].Modul</h2>
                                                <p>@Model.HistoryData[i].Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
