﻿@model ChangePassViewModel

@{
    Layout = "Empty";
    ViewBag.Title = "Změna hesla do administrace";
}

<!-- Main content-->
<section class="content">
    <div class="container-center animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Změna hesla</h3>
                <small>
                    Administrátor vyžádal změnu Vašeho hesla.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <form id="loginForm" method="post">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <small class="text-muted">Heslo by mělo obsahovat 8 znaku z toho minimálně: jedno velké písmeno a jednu číslici.</small><br />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Confirm"></label>
                        <input asp-for="Confirm" class="form-control" />
                        <small class="text-muted">Zadejte pro kontrolu ještě jednkát ové heslo.</small><br />
                        <span asp-validation-for="Confirm" class="text-danger"></span>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-accent btn-squared">Změnit heslo</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->