﻿@model SettingViewModel

    <div class="btn-group edit-btns">
        <button type="button" id="btnSaveConfigurations" class="btn btn-accent btn-squared">
            <span class="pe-7s-diskette mr-1"></span>Uložit
        </button>
    </div>

    <div class="row">
        <div class="col-12 col-md-2 items-list pt-1">
            <ul class="nav nav-tabs d-block">
                <li id="tabCompany"><a class="nav-link active" data-toggle="tab" href="#tab-1" aria-expanded="true">Základní informace</a></li>
                <li id="tabSocial"><a class="nav-link" data-toggle="tab" href="#tab-2" aria-expanded="false">Sociální sítě</a></li>
                <li id="tabPersons"><a class="nav-link" data-toggle="tab" href="#tab-3" aria-expanded="false">Kontaktní osoby</a></li>
                <li id="tabGDPR"><a class="nav-link" data-toggle="tab" href="#tab-4" aria-expanded="false">Zásady GDPG</a></li>
                <li id="taWeb"><a class="nav-link" data-toggle="tab" href="#tab-5" aria-expanded="false">Web</a></li>
                <li id="tabApp"><a class="nav-link" data-toggle="tab" href="#tab-6" aria-expanded="false">Administrace</a></li>
                @if (User.IsInRole("root"))
                {
                    <li id="tabRoot"><a class="nav-link" data-toggle="tab" href="#tab-7" aria-expanded="false">Aplikace</a></li>
                }
            </ul>
        </div>
        <div class="col-12 col-md-10 item-content pr-2 pt-1">

            <div class="tabs-container">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body bg-transparent p-0">
                            <form id="SettingCompany" method="post" action="/admin/configuration/company">
                                @await Html.PartialAsync("Configuration/Company", Model.Company)
                            </form>
                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane ">
                        <ul class="nav nav-tabs">
                            <li><a class="nav-link active" data-toggle="tab" aria-expanded="true">Sociální sítě</a></li>
                        </ul>
                        <div class="panel-body ">
                            @await Html.PartialAsync("Configuration/Socials", Model.Company)
                        </div>
                    </div>

                    <div id="tab-3" class="tab-pane">
                        <ul class="nav nav-tabs">
                            <li><a class="nav-link active" data-toggle="tab" aria-expanded="true">Kontaktní osoba</a></li>
                        </ul>
                        <div class="panel-body pt-2">
                            @await Html.PartialAsync("Configuration/persons", Model.Persons)
                        </div>
                    </div>

                    <div id="tab-4" class="tab-pane">
                        <ul class="nav nav-tabs">
                            <li><a class="nav-link active" data-toggle="tab" aria-expanded="true">Vaše zásady zpracování osobních údajů</a></li>
                        </ul>
                        <div class="panel-body">
                            <textarea form="SettingWeb" name="GDPR" id="GDPR" class="summernote">@Model.Web.GDPR</textarea>
                        </div>
                    </div>

                    <div id="tab-5" class="tab-pane ">
                        <div class="panel-body bg-transparent p-0">
                            <form id="SettingWeb" method="post" action="/admin/configuration/web">
                                @await Html.PartialAsync("Configuration/web", Model.Web)
                            </form>
                        </div>
                    </div>

                    <div id="tab-6" class="tab-pane ">
                        <div class="panel-body bg-transparent p-0">
                            <form id="SettingAdministration" method="post" action="/admin/configuration/administration">
                                @await Html.PartialAsync("Configuration/Administration", Model.Administration)
                            </form>
                        </div>
                    </div>

                    @if (User.IsInRole("root"))
                    {
                        <div id="tab-7" class="tab-pane">
                            <div class="panel-body bg-transparent p-0">
                                <form id="SettingApplication" method="post" action="/admin/configuration/application">
                                    @await Html.PartialAsync("Configuration/Application", Model)
                                </form>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

