﻿@model LoginViewModel

@{
    Layout = "Empty";
    ViewBag.Title = "Přihlášení do administrace";
}

<!-- Main content-->
<section class="content">
    <div class="container-center animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Přihlášení</h3>
                <small>
                    Zadejte Vaše přihlašovací údaje.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <form id="loginForm" method="post">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserPass"></label>
                        <input asp-for="UserPass" class="form-control" />
                        <span asp-validation-for="UserPass" class="text-danger"></span>
                    </div>
                    <div class="text-danger">@Html.ValidationMessage("err")</div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-accent btn-squared">Přihlásit se</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->