﻿@model DashboardViewModel

@if (Model.LastMessage != null)
{
<div class="col-lg-3 col-xs-12">
    <div class="panel panel-filled" style="position:relative;height: 100px">
        <div class="panel-body">
            <div class="m-t-sm">
                <div class="pull-right">
                    <a href="/admin/webmessages" class="btn btn-default btn-xs">Zobrazit zprávy</a>
                </div>
                <div class="c-white">Nepřečtené zprávy <span class="label label-accent">@Model.UnreadedMessages</span></div>
                <div class="slight m-t-sm">
                    <i class="fa fa-clock-o"> </i> Poslední zpráva: <br />
                    <span class="c-white">@Model.LastMessage.Created</span><br />
                    <span class="c-white">@Model.LastMessage.Name</span>
                </div>
            </div>
        </div>
    </div>
</div>
}