﻿@model WebPageViewModel

@if (Model.ShowTitle)
{
    <div class="container">
        <main role="main">
            <h1>@Model.Name</h1>
        </main>
    </div>
}

@for (int i = 0; i < Model.Sections.Count(); i++)
{
    string view = "sections/" + Model.Sections[i].Type;

    @await Html.PartialAsync(view, Globals.AvalibleSections.FirstOrDefault(s => s.Type == Model.Sections[i].Type).GetWebModel(Model.Sections[i].IdSekce))
}