﻿@model HelpViewModel

<div data-script="basicEdit"></div>

<div class="btn-group edit-btns" data-url="/admin/help">
    <button class="btn btn-default btn-squared" type="button">
        <span class="pe-7s-download mr-1" data-alowed="true"></span>Uložit
    </button>
</div>
<div class="row">
    <div class="col-12 col-md-2 items-list pt-1">
        <div class="panel mt-0">
            <div class="panel-body pl-0">
                @foreach (HelpMenuItem item in Model.Menu)
                {
                    <div class="c-accent">@item.Text</div>
                    <hr />
                    <ul class="nav nav-tabs d-block mb-3">
                        @foreach (HelpMenuItem subItem in item.Items)
                        {
                            if (subItem.Items != null)
                            {
                                <li>
                                    <a href="#@subItem.View" data-toggle="collapse" aria-expanded="true" class="nav-link">
                                        @subItem.Text
                                        <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                                    </a>

                                    <ul id="@subItem.View" class="nav nav-second collapse">
                                        @foreach (HelpMenuItem subItem2 in subItem.Items)
                                        {
                                            <li>
                                                <a class="nav-link"
                                                   href="#"
                                                   data-url="/admin/help/@subItem2.Modul/@subItem2.View">
                                                    @subItem2.Text
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="nav-link"
                                       href="#"
                                       data-url="/admin/help/@subItem.Modul/@subItem.View">
                                        @subItem.Text
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-10 item-content pr-1 pt-1">
        <div class="container-fluid pl-0">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="basicContent">
                        <partial name="@Model.View" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>