﻿@model HelpViewModel

<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">
    <partial name="@Model.View" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="download" class="btn btn-accent btn-squared">Uložit</button>
</div>