﻿<div>
    <strong>Kontaktní údaje</strong>
    <div class="row">
        <div class="col-4 form-group" data-locked="true">
            <input type="text" name="name" placeholder="Jméno a příjmení" class="form-control" />
        </div>
        <div class="col-4 form-group">
            <input type="text" name="phone" placeholder="Telefon" class="form-control" />
        </div>
        <div class="col-4 form-group">
            <input type="text" name="email" placeholder="E-mail" class="form-control" />
        </div>
    </div>
</div>