﻿@model ParalaxViewModel

<form action="/admin/sections/paralax/create">
    <div class="form-group mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="5"
            required></textarea>
        <small class="text-muted">Doporučuje se delka popisu 600 znaků.</small><br />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Link"></label>
        <input asp-for="Link" class="form-control" />
        <small class="text-muted">Zadejte úplnou adresu odkazu.</small><br />
    </div>
</form>