﻿@model List<BasicItemViewModel>
<div data-script="userAccount"></div>

<div class="btn-group edit-btns" data-url="/admin/accounts">
    <button class="btn btn-light btn-squared" type="button" data-action="create" data-alowed="@(User.IsInRole("app_accounts"))" data-modalId="accountsCreate">
        <span class="pe-7s-plus mr-1"></span>Vytvořit
    </button>
    <button class="btn btn-light btn-squared" type="button" data-action="delete" data-alowed="@(User.IsInRole("app_accounts"))">
        <span class="pe-7s-trash mr-1"></span>Odstranit
    </button>
    <button class="btn btn-light btn-squared" type="button" data-action="save" data-alowed="@(User.IsInRole("app_accounts"))">
        <span class="pe-7s-diskette mr-1"></span>Uložit
    </button>
</div>
<div class="row">
    <div class="col-3 col-lg-2 items-list">
        <div class="panel mt-0">
            <div class="panel-body pl-0">
                <partial name="ItemsList" for="@Model" />
            </div>
        </div>
    </div>
    <div class="col-9 col-lg-10 item-content pr-1 pt-1">
        <div class="container-fluid pl-0">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="basicContent">
                        @if (Model.Count == 0)
                        {
                            <div class="text-center text-danger">Nemáte vytvořeny žádné uživatele.</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
