﻿@model AdminUserViewModel

<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">

    <form id="formCreateAccount" action="/admin/accounts/create" class="tabs-container mt-3">
        <ul class="nav nav-tabs">
            <li><a class="nav-link active" data-toggle="tab" href="#tab-crAccount-1" aria-expanded="true">Osobní údaje</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tab-crAccount-2" aria-expanded="false">Přihlašovací údaje</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tab-crAccount-permissions" aria-expanded="false">Opravnění uživatele</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-crAccount-1" class="tab-pane active">
                <div class="panel-body">
                    <partial name="User/PersonalData" for="@Model" />
                </div>
            </div>
            <div id="tab-crAccount-2" class="tab-pane">
                <div class="panel-body">
                    <partial name="User/Login" for="@Model" />
                </div>
            </div>
            <div id="tab-crAccount-permissions" class="tab-pane">
                <div class="panel-body">
                    <partial name="User/Autorizations" for="@Model" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="text-danger">@Html.ValidationMessage("error")</div>
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
</div>