﻿@model AdminUserViewModel

<form class="row" id="userData" action="/admin/accounts/edit/@Model.UserId" data-userid="@Model.UserId">

    <div class="col-xl-8 p-0 m-0">
        <div class="text-danger" style="position:relative;float:right">@Html.ValidationMessage("error")</div>
        <ul class="nav nav-tabs">
            <li><a class="nav-link active" data-toggle="tab" href="#tabPersonalData" aria-expanded="true">Osobní údaje</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tabUserLogin" aria-expanded="false">Přihlašovací údaje</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tabAutorizations" aria-expanded="false">Oprávnění</a></li>
            <li><a class="nav-link" data-toggle="tab" href="#tabHistory" aria-expanded="false">Historie</a></li>
        </ul>

        <div class="tab-content">
            <div id="tabPersonalData" class="tab-pane active">
                <div class="panel-body">
                    <partial name="User/PersonalData" for="@Model" />
                </div>
            </div>

            <div id="tabUserLogin" class="tab-pane">
                <div class="panel-body">
                    <partial name="User/Login" for="@Model" />
                </div>
            </div>

            <div id="tabAutorizations" class="tab-pane">
                <div class="panel-body">
                    <partial name="User/Autorizations" for="@Model" />
                </div>
            </div>

            <div id="tabHistory" class="tab-pane">
                <div class="panel-body">
                    <partial name="User/History" for="@Model.HistoryData" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 pr-1">
        <div class="v-timeline vertical-container">
            @for (int i = 0; i < Model.HistoryData.Count; i++)
            {
                if (i == 6) break;

                var button = "fa-user";

                if (Model.HistoryData[i].Action == (int)AdminLoggerAction.Add) button = "fa-plus";
                if (Model.HistoryData[i].Action == (int)AdminLoggerAction.Edit) button = "fa-edit";
                if (Model.HistoryData[i].Action == (int)AdminLoggerAction.Delete) button = "fa-remove";

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon">
                        <i class="fa @button"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <div class="p-sm">
                            <span class="vertical-date pull-right"> <small>@Model.HistoryData[i].Date.ToString("dd.MM.yyyy HH:mm")</small> </span>

                            <h2>@Model.HistoryData[i].Modul</h2>

                            <p>@Model.HistoryData[i].Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>