﻿@model GroupViewModel

<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">

    <form id="formCreateGroup" action="/admin/groups/create" class="tabs-container mt-3">
        <ul class="nav nav-tabs">
            <li><a class="nav-link active" data-toggle="tab" href="#tab-propertys" aria-expanded="true">Vlastnosti</a>
            </li>
            <li><a class="nav-link" data-toggle="tab" href="#tab-autorizations" aria-expanded="false">Opravnění</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-propertys" class="tab-pane active">
                <div class="panel-body">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="tab-autorizations" class="tab-pane">
                <div class="panel-body">
                    @for (int m = 0; m < Model.ModulesSecurity.Count; m++)
                    {
                        <div class="panel panel-filled">
                            <div class="panel-heading">
                                <div class="panel-tools">
                                    <a class="panel-toggle">
                                        Povolit přístup <input class="js-switch" asp-for="@Model.ModulesSecurity[m].Allowed" />
                                        <input type="hidden" asp-for="@Model.ModulesSecurity[m].Name" />
                                        <input type="hidden" asp-for="@Model.ModulesSecurity[m].Text" />
                                        <input type="hidden" asp-for="@Model.ModulesSecurity[m].Description" />
                                    </a>
                                </div>
                                @Model.ModulesSecurity[m].Text
                            </div>

                            @if (Model.ModulesSecurity[m].Allowed)
                            {
                                <div class="panel-body">
                                    @for (int r = 0; r < @Model.ModulesSecurity[m].Roles.Count; r++)
                                    {
                                        <div class="form-group mb-3">
                                            <input class="js-switch" asp-for="@Model.ModulesSecurity[m].Roles[r].Allowed" />
                                            @Model.ModulesSecurity[m].Roles[r].Text
                                            <input type="hidden" asp-for="@Model.ModulesSecurity[m].Roles[r].Name" />
                                            <input type="hidden" asp-for="@Model.ModulesSecurity[m].Roles[r].Text" />
                                        </div>
                                    }

                                    <small class="text-muted">@Model.ModulesSecurity[m].Description</small>
                                </div>
                            }
                            else
                            {
                                <div class="panel-body pt-4" style="display:none">
                                    <div class="access-box">
                                        @for (int r = 0; r < @Model.ModulesSecurity[m].Roles.Count; r++)
                                        {
                                            <div class="form-group mb-3">
                                                <div class="role">
                                                    <input class="js-switch" asp-for="@Model.ModulesSecurity[m].Roles[r].Allowed" />
                                                    <span>@Model.ModulesSecurity[m].Roles[r].Text:</span>
                                                </div>
                                                <input type="hidden" asp-for="@Model.ModulesSecurity[m].Roles[r].Name" />
                                                <input type="hidden" asp-for="@Model.ModulesSecurity[m].Roles[r].Text" />
                                            </div>
                                        }
                                    </div>
                                    <hr class="hr-lighter" />
                                    <small class="text-muted">@Model.ModulesSecurity[m].Description</small>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
</div>