﻿@model GroupViewModel

<form action="/admin/groups/edit/@Model.GroupId" id="formEditGroup" class="tabs-container mt-1">
    <ul class="nav nav-tabs">
        <li>
            <a class="nav-link active" data-toggle="tab" href="#tab-crAccount-1" aria-expanded="true">Vlastnosti</a>
        </li>
        <li><a class="nav-link" data-toggle="tab" href="#tab-crAccount-2" aria-expanded="false">Členové</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-crAccount-1" class="tab-pane active">
            <div class="panel-body">
                <div class="group-title">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                @for (int m = 0; m < Model.ModulesSecurity.Count; m++)
                {
                    <div class="panel panel-filled">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="panel-toggle">
                                    Povolit přístup <input class="js-switch" asp-for="@Model.ModulesSecurity[m].Allowed" />
                                    <input type="hidden" asp-for="@Model.ModulesSecurity[m].Name" />
                                    <input type="hidden" asp-for="@Model.ModulesSecurity[m].Text" />
                                    <input type="hidden" asp-for="@Model.ModulesSecurity[m].Description" />
                                </a>
                            </div>
                            @Model.ModulesSecurity[m].Text
                        </div>

                        @if (Model.ModulesSecurity[m].Allowed)
                        {
                    <div class="panel-body pt-4">
                        <div class="access-box">
                            @for (int r = 0; r < @Model.ModulesSecurity[m].Roles.Count; r++)
                            {
                                <div class="form-group mb-3">
                                    <div class="role">
                                        <input class="js-switch" asp-for="@Model.ModulesSecurity[m].Roles[r].Allowed" />
                                        <span>@Model.ModulesSecurity[m].Roles[r].Text</span>
                                    </div>

                                    <input type="hidden" asp-for="@Model.ModulesSecurity[m].Roles[r].Name" />
                                    <input type="hidden" asp-for="@Model.ModulesSecurity[m].Roles[r].Text" />
                                </div>
                            }
                        </div>
                        <hr class="hr-lighter" />
                        <i class="c-accent help-icon pe-7s-info"></i>
                        <small class="text-muted pl-3">@Model.ModulesSecurity[m].Description</small>
                    </div>
                        }
                        else
                        {
                    <div class="panel-body pt-4" style="display:none">
                        <div class="access-box">
                            @for (int r = 0; r < @Model.ModulesSecurity[m].Roles.Count; r++)
                            {
                                <div class="form-group mb-3">
                                    <div class="role">
                                        <input class="js-switch" asp-for="@Model.ModulesSecurity[m].Roles[r].Allowed" />
                                        <span>@Model.ModulesSecurity[m].Roles[r].Text</span>
                                    </div>
                                    <input type="hidden" asp-for="@Model.ModulesSecurity[m].Roles[r].Name" />
                                    <input type="hidden" asp-for="@Model.ModulesSecurity[m].Roles[r].Text" />
                                </div>
                            }
                        </div>
                        <hr class="hr-lighter" />
                        <i class="c-accent help-icon pe-7s-info"></i>
                        <small class="text-muted pl-3">@Model.ModulesSecurity[m].Description</small>
                    </div>
                        }


                    </div>
                }
            </div>
        </div>
        <div id="tab-crAccount-2" class="tab-pane">
            <div class="panel-body">

            </div>
        </div>

    </div>
</form>