﻿@model List<MenuItem>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="admin" asp-controller="admin" asp-action="index">EffectiveTools</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @{
                        foreach (MenuItem item in Model)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@item.Url">@item.Text</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>