﻿@model EventsViewModel

@if (Model.IdNewsList == 0)
{
<form id="newsListForm" action="/admin/sections/events/create">

</form>
}
else
{
<form id="newsListForm-@Model.IdNewsList" action="/admin/sections/events/edit/@Model.IdNewsList">
    <div class="form-group mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" id="title_@Model.IdNewsList" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
    </div>

    @for (int i = 0; i < Model.Items.Count; i++)
    {
        <div class="form-group mb-3">
            <input class="js-switch" asp-for="@Model.Items[i].Selected" /> @Model.Items[i].Name
            <input type="hidden" asp-for="@Model.Items[i].Id" />
        </div>
    }

</form>
}
