﻿@model FormsViewModel

<form id="contactForm" action="/admin/sections/contactform/edit/@Model.IdContactForm">
    <div class="form-group mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" id="title_@Model.IdContentSection" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" id="content_@Model.IdContentSection" class="form-control" rows="5" required></textarea>
        <small class="text-muted">Doporučuje se delka popisu 600 znaků.</small><br />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Recipients"></label>
        <select asp-for="Recipients" asp-items="@(new SelectList(Model.RecipientsList))" id="link_@Model.IdContentSection" class="select2 form-control select2-hidden-accessible" multiple="" aria-hidden="true" style="width: 100%"></select>
        <small class="text-muted">Zadejte úplnou adresu odkazu.</small><br />
    </div>

    <div class="form-group mb-3">
        <inpu class="js-switch" asp-for="ShowGDPR" id="showGDPR_@Model.IdContentSection" /> @Html.DisplayNameFor(model
        => model.ShowGDPR)
    </div>
</form>