﻿@model ImagesViewModel


<form id="imagesForm" action="/admin/sections/images/edit/@Model.IdImages">
    <button type="button" data-action='addImage'>Přidat obrázek</button>
    <div class="images-container"></div>
</form>