﻿@model ParalaxViewModel

<form id="paralaxForm" action="/admin/sections/paralax/edit/@Model.IdParalax">
    <div class="form-group mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" id="title_@Model.IdContentSection" class="form-control" />
        <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" id="content_@Model.IdContentSection" class="form-control" rows="5"
            required></textarea>
        <small class="text-muted">Doporučuje se delka popisu 600 znaků.</small><br />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Link"></label>
        <input asp-for="Link" id="link_@Model.IdContentSection" class="form-control" />
        <small class="text-muted">Zadejte úplnou adresu odkazu.</small><br />
    </div>
</form>