﻿@model TextViewModel

@if (Model.IdText == 0)
{
    <form id="textForm" action="/admin/sections/text/create">
        <textarea asp-for="Text" class="summernote">@Model.Text</textarea>
    </form>
}
else
{
    <form id="textForm" action="/admin/sections/text/edit/@Model.IdText" data-idSection="@Model.IdText">
        <textarea asp-for="Text" class="summernote">@Model.Text</textarea>
    </form>
}