﻿@model List<ImageModel>

<div class="container">
    <main role="main" class="pb-3">
        @{
            foreach (ImageModel img in Model)
            {
                string src = Globals.Folders.WebImages + img.FileName + "_Thumb" + img.Extension;
                <img src="@src" alt="@img.FileName" width="200" />
            }
        }
    </main>
</div>