﻿@model CarouselWebModel

<div class="container">
    <main role="main" class="pb-3">
        @{ 
            foreach (CarouselItemViewModel item in Model.Items )
            {
                <div>
                    @if (item.Image != null)
                    {
                        string src = Globals.Folders.WebImages + item.Image.FileName + "_Full" + item.Image.Extension;

                        <img alt="@item.Image.FileName" src="@src" />
                    }
                    @if (item.Title.Length != 0)
                    {
                        <h2>@item.Title</h2>
                    }
                    @if (item.Text.Length != 0)
                    {
                        <p>@item.Text</p>
                    }
                    @if (item.Link.Length != 0)
                    {
                        <a href="@item.Link">@item.Name</a>
                    }
                </div>
            }
        }
    </main>
</div>