﻿@model EventsWebModel

<div class="container">
    <main role="main" class="pb-3">
        @if (Model.Title != null)
        {
            <h2>@Model.Title</h2>
        }

        @{
            foreach (EventWebItem item in Model.Items)
            {
                <div>
                    <h2>@item.Title</h2>
                    <p>@item.Description</p>
                    <p>@item.Created</p>
                    <a href="@item.Link">Detail Novinky</a>
                </div>
            }
        }
    </main>
</div>