﻿@model FormsWebModel

<div class="container">
    <main role="main" class="pb-3">
        @if (Model.ShowAs == "Pages")
        {
            @await Html.PartialAsync("sections/Forms/" + Model.FormType, Model)
        }
        else
        {
            @await Html.PartialAsync("sections/Forms/Dinamic", Model)
        }
    </main>
</div>