﻿@model Data.AdminConfig

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tabAppConf" aria-expanded="true">Uživatelské účty</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabAppConf" class="tab-pane active">
            <div class="panel-body">

                <div class="form-group">
                    <label asp-for="EmptyUserSecurity" class="control-label"></label><br />
                    <input asp-for="EmptyUserSecurity" class="js-switch" />
                    <small class="text-muted">Umožní nenastavit uživateli žádná oprávnění. (Vypne oprávnění procházet jednotlivé části administrace.)</small>
                </div>

                <div class="form-group">
                    <label asp-for="DisableAdminLoging" class="control-label"></label><br />
                    <input asp-for="DisableAdminLoging" class="js-switch" />
                    <small class="text-muted">Vypne zaznamenávání činnosti uživatelů v administraci.</small>
                </div>

            </div>
        </div>
        <input type="hidden" asp-for="Id" />
    </div>
</div>