﻿@model SettingViewModel

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tabRoot1" aria-expanded="true">Aplikace</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tabRoot2" aria-expanded="false">Sekce obsahu</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tabRoot3" aria-expanded="false">SQL Server</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabRoot1" class="tab-pane active">
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Application.RestApi" class="control-label"></label><br />
                    <input asp-for="Application.RestApi" class="js-switch" />
                    <small class="text-muted">Přepne aplikaci do režimu Rest Api na adrese /effectiveapi).</small>
                </div>

                <div class="form-group">
                    <label asp-for="Application.RootPass" class="control-label"></label>
                    <input asp-for="Application.RootPass" type="password" autocomplete="off" class="form-control" />
                    <small class="text-muted">Vyplňte pouze pokud si přejete změnit heslo uživatele root.</small>
                </div>
            </div>
        </div>

        <div id="tabRoot2" class="tab-pane">
            <div class="panel-body">
                <partial name="Configuration/Sections" for="Sections" />
            </div>
        </div>

        <div id="tabRoot3" class="tab-pane">
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Application.SqlServer" class="control-label"></label>
                    <input asp-for="Application.SqlServer" class="form-control" />
                    <span asp-validation-for="Application.SqlServer" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Application.SqlPort" class="control-label"></label>
                    <input asp-for="Application.SqlPort" class="form-control" />
                    <span asp-validation-for="Application.SqlPort" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Application.SqlDatabaze" class="control-label"></label>
                    <input asp-for="Application.SqlDatabaze" class="form-control" />
                    <span asp-validation-for="Application.SqlDatabaze" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Application.SqlUser" class="control-label"></label>
                    <input asp-for="Application.SqlUser" class="form-control" />
                    <span asp-validation-for="Application.SqlUser" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Application.SqlPass" class="control-label"></label>
                    <input asp-for="Application.SqlPass" type="password" autocomplete="off" class="form-control" />
                    <span asp-validation-for="Application.SqlPass" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>