﻿@model CompanyModel

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tabCompany1" aria-expanded="true">Fakturační údaje</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tabCompany2" aria-expanded="false">Doručovací adresa</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tabCompany3" aria-expanded="false">Kontaktní osoba</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tabCompany4" aria-expanded="false">Provozovatel</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabCompany1" class="tab-pane active">
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ic" class="control-label"></label>
                    <input asp-for="Ic" class="form-control" />
                    <span asp-validation-for="Ic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dic" class="control-label"></label>
                    <input asp-for="Dic" class="form-control" />
                    <span asp-validation-for="Dic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PosCode" class="control-label"></label>
                    <input asp-for="PosCode" class="form-control" />
                    <span asp-validation-for="PosCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="tabCompany2" class="tab-pane">
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="ShipCompayName" class="control-label"></label>
                    <input asp-for="ShipCompayName" class="form-control" />
                    <span asp-validation-for="ShipCompayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipStreet" class="control-label"></label>
                    <input asp-for="ShipStreet" class="form-control" />
                    <span asp-validation-for="ShipStreet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipCity" class="control-label"></label>
                    <input asp-for="ShipCity" class="form-control" />
                    <span asp-validation-for="ShipCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipPosCode" class="control-label"></label>
                    <input asp-for="ShipPosCode" class="form-control" />
                    <span asp-validation-for="ShipPosCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShipPhone" class="control-label"></label>
                    <input asp-for="ShipPhone" class="form-control" />
                    <span asp-validation-for="ShipPhone" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
            </div>
        </div>
        <div id="tabCompany3" class="tab-pane">
            <div class="panel-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div id="tabCompany4" class="tab-pane">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>