﻿@model PersonModel

<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">

    <form id="formPerson" action="/admin/configuration/person/@Model.Id">
        <div class="form-group mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="7"></textarea>
            <small class="text-muted">Měl by být v rozsahu 8-20 znaků.</small><br />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Enabled"></label>
            <input asp-for="Enabled" class="js-switch" />
            <small class="text-muted">Povolí zobrazení kontaktní osoby na webu.</small><br />
        </div>

    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    @if (Model.Id == 0)
    {
        <button type="button" data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
    }
    else
    {
        <button type="button" data-action="save" class="btn btn-accent btn-squared">Uložit</button>
    }

</div>