﻿@model List<PersonModel>

<div data-script="contactPersons"></div>

<div class="input-group mb">
    <input type="text" class="form-control" placeholder="Vyhledávání podle jména..." aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
        <button class="btn btn-default btn-squared ml-4" data-modalId="createPerson" data-url="/admin/configuration/person" data-alowed="@(User.IsInRole("app_setting"))">Vytvořit kontaktní osobu</button>
    </div>
</div>
<hr />

@if (Model.Count == 0)
{
    <div class="col-md-12 text-danger text-center">Nemáte vytvořeny žádné Kontaktní osoby!</div>
}

<div class="row" id="personsList">
    <partial name="Configuration/PersonsList" for="@Model" />
</div>