﻿@model List<PersonModel>

@foreach (PersonModel person in Model)
{
    <div class="col-md-4">
        <div class="panel panel-filled ">
            <div class="panel-body">
                <div class="btn-group pull-right m-b-md">
                    <button class="btn btn-default btn-xs" data-modalId="createPerson" data-url="/admin/configuration/person/@person.Id" data-alowed="@(User.IsInRole("app_setting"))">Upravit</button>
                    <button class="btn btn-default btn-xs" data-action="deleteContactPerson" data-url="/admin/configuration/person/delete/@person.Id">Odstranit</button>
                </div>

                @if (string.IsNullOrEmpty(person.Photo))
                {
                    <i class="pe page-header-icon pe-7s-user pe-5x"></i>
                }
                else
                {
                    <img alt="image" class="rounded image-lg" src="images/profile.jpg">
                }


                <h5 class="m-b-none"><a href=""> @person.FirstName @person.LastName </a></h5>

                <div class="m-b-xs c-white small">@person.Email</div>
                <p>
                    @person.Description
                </p>
                <small><i class="fa fa-clock-o"></i> Poslední aktivita:</small>
            </div>

        </div>
    </div>
}