﻿@model List<SectionViewModel>
<div class="accordion" id="accordion">

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="card">
            <div class="card-header" id="heading_@i">
                <h5 class="mb-0">
                    <span class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@i" aria-expanded="true" aria-controls="collapseOne"> @Model[i].Name </span>
                </h5>
            </div>

            <div id="collapse_@i" class="collapse" aria-labelledby="heading_@i" data-parent="#accordion">
                <div class="card-body">

                    @for (int ii = 0; ii < Model[i].Items.Count; ii++)
                    {
                        <div class=" row">
                            <div class="col col-md-6 form-group">

                                <label asp-for="@Model[i].Items[ii].Text" class="control-label"></label>
                                <input asp-for="@Model[i].Items[ii].Text" class="form-control" />
                            </div>
                            <div class="col col-md-6 form-group">
                                <label asp-for="@Model[i].Items[ii].Value" class="control-label"></label>
                                <input asp-for="@Model[i].Items[ii].Value" class="form-control" />
                            </div>
                            <input type="text" asp-for="@Model[i].Items[ii].Id" />
                        </div>
                    }

                    <input type="text" asp-for="@Model[i].Type" />
                </div>
            </div>
        </div>
    }
</div>