﻿@model CompanyModel

<div class="form-group">
    <label asp-for="Facebook" class="control-label"></label>
    <input asp-for="Facebook" class="form-control" form="SettingCompany"/>
    <small class="text-muted">Platforma pro vytváření osobních, firemních a skupinových profilů a propojování přátel</small>
</div>
<div class="form-group">
    <label asp-for="Twitter" class="control-label"></label>
    <input asp-for="Twitter" class="form-control" form="SettingCompany"/>
    <small class="text-muted">Platforma sloužící především pro mikroblogy.</small>
</div>
<div class="form-group">
    <label asp-for="Instagram" class="control-label"></label>
    <input asp-for="Instagram" class="form-control" form="SettingCompany"/>
    <small class="text-muted">Platforma  sloužící ke zveřejňování vlastních fotografií a videí.</small>
</div>
<div class="form-group">
    <label asp-for="Bezones" class="control-label"></label>
    <input asp-for="Bezones" class="form-control" form="SettingCompany"/>
    <small class="text-muted">Komunita majitelů a zástupců firem, kteří jsou otevřeni vzájemné spolupráci, navazování vztahů, sdílení zkušeností a s chutí vzájemně inspirovat a rozvíjet sebe i hodnotu svého businessu.</small>
</div>
<div class="form-group">
    <i class="pe pe-7s-play"></i>
    <label asp-for="Youtube" class="control-label"></label>
    <input asp-for="Youtube" class="form-control" form="SettingCompany"/>
    <small class="text-muted">Největší internetový server pro sdílení videosouborů.</small>
</div>