﻿@model Data.WebConfig

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tabAppConf" aria-expanded="true">Konfigurace</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tabSmtp" aria-expanded="false">Odesílání E-mailů</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabAppConf" class="tab-pane active">
            <div class="panel-body">

                <div class="form-group">
                    <label asp-for="Domain" class="control-label"></label><br />
                    <input asp-for="Domain" class="form-control" />
                    <small class="text-muted"></small>
                </div>

            </div>
        </div>

        <div id="tabSmtp" class="tab-pane">
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="SmtpEmail" class="control-label"></label>
                    <input asp-for="SmtpEmail" class="form-control" />
                    <span asp-validation-for="SmtpEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SmtpName" class="control-label"></label>
                    <input asp-for="SmtpName" class="form-control" />
                    <span asp-validation-for="SmtpName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SmtpServer" class="control-label"></label>
                    <input asp-for="SmtpServer" class="form-control" />
                    <span asp-validation-for="SmtpServer" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="SmtpSSL" class="js-switch" />
                    <label asp-for="SmtpSSL" class="control-label"></label>
                </div>

                <div class="form-group">
                    <label asp-for="SmtpPort" class="control-label"></label>
                    <input asp-for="SmtpPort" class="form-control" />
                    <span asp-validation-for="SmtpPort" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SmtpUser" class="control-label"></label>
                    <input asp-for="SmtpUser" class="form-control" />
                    <span asp-validation-for="SmtpUser" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SmtpPass" class="control-label"></label>
                    <input asp-for="SmtpPass" type="password" autocomplete="off" class="form-control" />
                    <span asp-validation-for="SmtpPass" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
    </div>
</div>