﻿@model PageViewModel
<div class="modal-header pt-0 pb-0">
    <partial name="NavigationModal" />
</div>
<div class="modal-body">
    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#tab-cGproperites" aria-expanded="true">Vlastnosti a SEO</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#tab-cGsections" aria-expanded="false">Rozložení</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-cGproperites" class="tab-pane active">
            <div class="panel-body">
                <form action="/admin/photogallery/create" id="createProperties" class="tabs-container mt-3">
                    <partial name="Partials/Properities" for="@Model" />
                </form>
            </div>
        </div>
        <div id="tab-cGsections" class="tab-pane">
            <div class="panel-body">
                <form action="/admin/photogallery/sections" id="createSections" class="tabs-container mt-3">
                    <partial name="Partials/Sections" for="@Model" />
                </form>
            </div>
        </div>

        @foreach (ContentSectionModel item in Model.ContentSections)
        {
            if (item.Required)
            {
                <div id="tab-cGsection-@item.Id" class="tab-pane section-tab">
                    <div class="panel-body vh-64">
                        @{await Html.RenderPartialAsync("~/Areas/Sections/Views/" + item.Type + "/Create.cshtml", Globals.AvalibleSections.First(s => s.Type == item.Type).Get(item));}
                    </div>
                </div>
            }
        }

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
    <button type="button" data-action="save" class="btn btn-accent btn-squared">Vytvořit</button>
</div>