﻿@model PageViewModel

<div data-pageid="@Model.PageId"></div>

<div class="tabs-container mt-0">
    <ul class="nav nav-tabs">

        <li><a class="nav-link" data-toggle="tab" href="#tab-eGProperties" aria-expanded="true">Vlastnosti a SEO</a></li>

        @foreach (ContentSectionModel item in Model.ContentSections)
        {
            if (!item.Locked && item.Id != 0)
            {
                <li><a class="nav-link" data-toggle="tab" href="#tab-eGsection-@item.Id" aria-expanded="false">@item.Name</a></li>
            }
        }

        <li><a class="nav-link" data-toggle="tab" href="#tab-eGsections" aria-expanded="false">Rozložení</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-eGProperties" class="tab-pane active">
            <div class="panel-body vh-64">
                <form id="editProperties" action="/admin/photogallery/edit/@Model.PageId">
                    <partial name="Partials/Properities" for="@Model" />
                </form>
            </div>
        </div>

        @foreach (ContentSectionModel item in Model.ContentSections)
        {
            if (!item.Locked && item.Id != 0)
            {
                <div id="tab-eGsection-@item.Id" class="tab-pane">
                    <div class="panel-body vh-64">
                        @{await Html.RenderPartialAsync("~/Areas/Sections/Views/" + item.Type + "/Edit.cshtml", Globals.AvalibleSections.First(s => s.Type == item.Type).Get(item));}
                    </div>
                </div>
            }
        }

        <div id="tab-eGsections" class="tab-pane">
            <div class="panel-body vh-64">
                <form class="submit-type-second" action="/admin/photogallery/sections/@Model.PageId">
                    <partial name="Partials/Sections" for="@Model" />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="editModalContainer">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title"></h4>
                    <small>Nápověda</small>
                </div>
                <div class="modal-body p-0"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-squared" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
</div>
